In [138]:
# Configuración del entorno de trabajo
# Importación de los datos
import sqlite3
# Para importar las librerías de 'pandas' y 'numpy' es necesario ejecutar: "pip install pandas numpy matplotlib seaborn scikit-learn jupyter"
import pandas as pd
import numpy as np
####################
import os
os.chdir("C:/Users/a21gebremedingl/Desktop/AD/Proyecto1_AD_Python")

## 1. CARGAR PEDIDOS (CSV)

In [139]:
# Cargar el fichero pedidos.csv
df_pedidos = pd.read_csv("sources/pedidos.csv", encoding="utf-16", sep="|") # Usando la codificación correcta: "utf-16"
print(df_pedidos)

      Id Pedido  id_cliente  id_producto  fecha_pedido  cantidad   \
0            1.0      1263.0        531.0    2025-02-28       7.0
1            NaN         NaN        744.0    2023-11-18       8.0
2            3.0      3060.0        990.0    2023-10-18      10.0
3            4.0      1216.0        174.0    2024-05-31       3.0
4            5.0      1558.0        916.0    2024-06-30       9.0
...          ...         ...          ...           ...       ...
39995    39996.0      4739.0        503.0    2025-07-15       3.0
39996    39997.0      1020.0        351.0    2025-03-07       4.0
39997    39998.0      4163.0        196.0    2025-01-26       6.0
39998    39999.0      2882.0        521.0    2023-11-04       2.0
39999    40000.0      2417.0        284.0            20       6.0

      precio_unitario     total    metodo_pago  estado_pedido   \
0               356.14   2492.98        Tarjeta      Pendiente
1              1569.27  12554.16  Transferencia      Pendiente
2               707.74    7077.4         PayPal      Pendiente
3              1281.67   3845.01   Criptomoneda      Pendiente
4              1208.76  10878.84         PayPal        Enviado
...                ...       ...            ...            ...
39995           543.26   1629.78         PayPal       Devuelto
39996           134.56    538.24        Tarjeta        Enviado
39997          1855.47  11132.82   Criptomoneda      Cancelado
39998           939.56   1879.12        Tarjeta       Devuelto
39999            594.5    3567.0         PayPal      Pendiente

            País envío
0               Namibia
1      Christmas Island
2              Tanzania
3              Bulgaria
4               Romania
...                 ...
39995             Samoa
39996       ###ERROR###
39997        Martinique
39998           Ukraine
39999      Saint Martin

[40000 rows x 10 columns]

## 2. CARGAR CLIENTES (JSON)

In [140]:
# Cargar el fichero clientes.json
df_clientes = pd.read_json("sources/clientes.json")
print(df_clientes)

      id_cliente                nombre                        email  \
0              1           Leah Oliver       morrisgary@example.org
1              2             Gary Yang       patrickorr@example.org
2              3           Diane Black  shannonwilliams@example.org
3              4       Stephanie Ochoa     thorntonmary@example.net
4              5       Manuel Petersen           judy84@example.org
...          ...                   ...                          ...
4995        4996          Nathan Smith     petersonpaul@example.com
4996        4997            Wendy Owen       susanrusso@example.net
4997        4998  Christopher Thompson       nicholas14@example.com
4998        4999          Cindy Rogers      whitejoshua@example.com
4999        5000          Selena Mills       wolfsteven@example.org

                    telefono  \
0      001-330-515-0970x7851
1               971.920.5709
2        (431)706-3322x22301
3     001-651-540-3975x13295
4       001-709-629-4484x227
...                      ...
4995       406-718-2793x5294
4996   001-333-911-5349x3506
4997              3265633454
4998       791.904.4900x6790
4999      369.293.3518x66762

                                              direccion fecha_registro genero  \
0     {'calle': '94553 Garner Underpass', 'ciudad': ...     2023-12-12   Otro
1     {'calle': '82710 Turner Camp', 'ciudad': 'Ange...     2022-03-11   Otro
2     {'calle': '6251 Knox Tunnel', 'ciudad': 'Goodw...     2024-06-01      M
3     {'calle': '07844 Brock Passage Suite 778', 'ci...     2021-05-19   Otro
4     {'calle': '975 Janice Gateway Suite 360', 'ciu...     2023-04-22   Otro
...                                                 ...            ...    ...
4995  {'calle': '453 Butler Islands', 'ciudad': 'Sou...     2024-09-25      M
4996  {'calle': '042 Thompson Plains Apt. 745', 'ciu...     2022-10-19   Otro
4997  {'calle': '6018 Danielle Estate', 'ciudad': 'B...     2021-12-04      M
4998  {'calle': '17048 Daniel Trafficway', 'ciudad':...     2021-06-28   Otro
4999  {'calle': '038 Ralph Rest', 'ciudad': 'West Jo...     2021-09-20      M

      edad nivel_fidelizacion
0       32             Bronce
1       53              Plata
2       35             Bronce
3       87             Bronce
4       72             Bronce
...    ...                ...
4995    76                Oro
4996    31             Bronce
4997    35              Plata
4998    28              Plata
4999    29             Bronce

[5000 rows x 9 columns]

## 3. CARGAR PRODUCTOS (SQLite)

In [141]:
# Cargar el fichero productos.db
conexion = sqlite3.connect("sources/productos.db")
with conexion:
    df_productos = pd.read_sql_query("SELECT * FROM productos", conexion)   #  Acceso desde pandas: Convierte la tabla SQL en DataFrame directamente
print(df_productos)

#conexion.close() -->  Cerrar la conexión a la base de datos. // En este caso como se usa 'with', se cierra automáticamente al salir del bloque

    id_producto nombre_producto    categoria precio_base descuento   stock  \
0           1.0          Home X       Libros      469.99       0.0   367.0
1          None      Threat Pro      Deporte      644.21      20.0    98.0
2             3        Reduce X         Ropa     1417.93      15.0   309.0
3           4.0        Half Max      Deporte      579.69      20.0   442.0
4           5.0     Control Pro      Deporte      373.93       0.0  -99999
..          ...             ...          ...         ...       ...     ...
995       996.0          Lose X       Libros      782.92      10.0    47.0
996       997.0      Degree Pro  Electrónica     1810.45      15.0   469.0
997       998.0   Describe Lite           Ho     1735.67       0.0   360.0
998       999.0        Hope Max        Hogar        8.16      15.0   277.0
999      1000.0   Standard Lite  Electrónica      800.65      20.0   137.0

                           proveedor  fecha_alta
0                        Allison PLC  2024-03-26
1                       Powers-Brown  2024-04-28
2    Patterson, Murray and Hernandez  2025-02-26
3           Neal, Lopez and Mitchell  2024-04-10
4         Lopez, Trujillo and Horton  2024-11-30
..                               ...         ...
995                         Le-Parks  2025-09-23
996                  Wilson and Sons        None
997                  Obrien and Sons  2023-01-25
998                  Elliott-Johnson  2022-10-30
999                     Clark-Obrien  2024-03-26

[1000 rows x 8 columns]

## 4. NORMALIZAR TIPOS DE CLAVE

In [142]:
# Convertimos los valores de las columnas que actuarán de clave a str para evitar conflictos
df_clientes['id_cliente'] = df_clientes['id_cliente'].astype(str)
df_productos['id_producto'] = df_productos['id_producto'].astype(str)

# Como la intencion es hacer un merge en 'df_pedidos' utilizando 'id_cliente' e 'id_producto', es importante asegurarse de que los nombres de las columnas coincidan exactamente
df_pedidos.columns = df_pedidos.columns.str.strip() # Eliminar espacios antes y después de cada nombre de columna de df_pedidos
df_pedidos['id_producto'] = df_pedidos['id_producto'].astype(str)
df_pedidos['id_cliente'] = df_pedidos['id_cliente'].astype(str)

## 5. UNIÓN DE DATASETS

In [143]:
# Unir los tres datasets en uno solo
'''
OBSERVACIÓN!
------------
En el apartado 10 de este proyecto, me he dado cuenta de que al hacer el análisis demográfico por género sólo se muestran los clientes del género 'M' y 'Otro'
pero no del 'F' (print(df_global['genero'].unique())). Resulta que al hacer el merge de clientes a pedidos sólo se incluyen aquellos clientes que han hecho un pedido. Como me interesa mostrar la distribución por género de los clientes 
independietemente de si han hecho o no un pedido, considero que lo mejor es hacer un merge de todos los clientes:
'''
df_global = df_pedidos.merge(df_clientes, on='id_cliente', how='outer') # Usando how='outer' se verán todos los clientes
df_global = df_global.merge(df_productos, on='id_producto', how='left')
print(df_global)

      Id Pedido   id_cliente id_producto fecha_pedido cantidad  \
0        5492.0  ###ERROR###       736.0   2025-04-13      4.0
1       12860.0  ###ERROR###       805.0   2023-11-01     10.0
2       26216.0  ###ERROR###       719.0   2025-08-06      4.0
3       29364.0  ###ERROR###       926.0   2025-04-03      5.0
4       37596.0  ###ERROR###       663.0   2024-03-26      8.0
...         ...          ...         ...          ...      ...
53649   39887.0          nan       346.0          NaN      5.0
53650   39897.0          nan       858.0   2024-11-12     10.0
53651   39901.0          nan       459.0   2024-06-03      2.0
53652   39934.0          nan       644.0   2024-07-19      9.0
53653   39957.0          nan       174.0  ###ERROR###      7.0

      precio_unitario     total   metodo_pago estado_pedido     País envío  \
0              1870.9    7483.6            Ta      Devuelto         Malawi
1               27.78     277.8        PayPal     Cancelado        Croatia
2                   1    4871.0        PayPal      Devuelto  New Caledonia
3                 NaN   8600.45       Tarjeta     Cancelado    ###ERROR###
4              360.35    2882.8       Tarjeta       Enviado       Djibouti
...               ...       ...           ...           ...            ...
53649         1353.37   6766.85       Tarjeta     Pendiente        Tokelau
53650          860.26    8602.6       Tarjeta       Enviado         Brazil
53651          811.75    1623.5  Criptomoneda     Cancelado          Congo
53652         1211.02  10899.18  Criptomoneda       Enviado         Malawi
53653          146.34   1024.38        PayPal      Devuelto          Aruba

       ... genero edad nivel_fidelizacion nombre_producto    categoria  \
0      ...    NaN  NaN                NaN        Skin Max       Libros
1      ...    NaN  NaN                NaN       Write Max  Electrónica
2      ...    NaN  NaN                NaN          Of Max         Ropa
3      ...    NaN  NaN                NaN       Happy Max  Electrónica
4      ...    NaN  NaN                NaN        Upon Pro         None
...    ...    ...  ...                ...             ...          ...
53649  ...    NaN  NaN                NaN        Play Max       Libros
53650  ...    NaN  NaN                NaN      Strategy X  Electrónica
53651  ...    NaN  NaN                NaN       Offer Max      Deporte
53652  ...    NaN  NaN                NaN       Finally X      Deporte
53653  ...    NaN  NaN                NaN        Only Max  Electrónica

      precio_base  descuento  stock                    proveedor  fecha_alta
0          826.82        5.0  489.0                   Barnes Ltd  2024-07-28
1           901.4       10.0  390.0                    Boyer Inc  2024-05-24
2         1416.59        0.0  377.0     Henderson, May and Olson  2023-10-05
3          353.94       10.0   92.0     Bates, Lopez and Carlson  2023-10-11
4          542.31        0.0  339.0                    Clark LLC  2024-04-10
...           ...        ...    ...                          ...         ...
53649     1809.24       10.0  202.0                    Moore PLC  2024-09-04
53650      1530.4        0.0  478.0   Beasley, Martinez and Frye  2025-08-29
53651      759.28        5.0  191.0                   Ortega Inc  2024-09-10
53652     1511.15        0.0  285.0  Blevins, Reed and Gallagher  2024-05-09
53653      348.97       20.0  324.0  Ramsey, Anderson and Rivera  2025-03-29

[53654 rows x 25 columns]

## Apartado 1: Información básica del dataset

In [144]:
# 1.1 Mostrar las primeras 5 filas del dataset global
print(f"\n== Mostrando las 5 primeras filas del dataset global ==\n{df_global.head(5)}")

# 1.2 Mostrar las dimensiones del dataset (filas y columnas)
print(f"\n== Mostrando las dimensiones del dataset (filas y columnas) ==\n{df_global.shape}")

# 1.3 Mostrar los nombres de todas las columnas
print(f"\n== Mostrando los nombres de todas las columnas ==\n{df_global.columns.tolist()}")

# 1.4 Mostrar información sobre los tipos de datos de las columnas
''' 
Proceso de optimización y verificación de los tipos de datos (para mejorar el rendimiento) que tuve en un principio pero que luego modifiqué:

# Columnas que deben ser enteros
cols_enteros = ["Id Pedido", "id_cliente", "id_producto","cantidad", "stock"]
for col in cols_enteros:
    # Reemplazar valores inválidos por 0
    df_global[col] = df_global[col].replace(["###ERROR###", "-", None], "0")
    # Convertir a float primero (asegura que todos los valores sean numéricos)
    df_global[col] = df_global[col].astype(float)
    # Reemplazar valores NaN por 0
    df_global[col] = df_global[col].fillna(0)
    # Convertir a entero
    df_global[col] = df_global[col].astype(int)

# Columnas que deben ser float
cols_float = ["precio_unitario", "precio_base", "total", "descuento"]
for col in cols_float:
    df_global[col] = df_global[col].replace(["###ERROR###", "-", None], "0")
    df_global[col] = df_global[col].astype(float)
    df_global[col] = df_global[col].fillna(0)
'''
# Columnas que deben ser enteros
cols_enteros = ["Id Pedido", "id_cliente", "id_producto","cantidad", "stock"]
for col in cols_enteros:
    # Convertir todo a string y eliminar cualquier caracter que no sea dígito
    df_global[col] = df_global[col].astype(str).str.replace(r'[^0-9]', '', regex=True)
    # Convertir a numérico y reemplazar errores por 0
    df_global[col] = pd.to_numeric(df_global[col], errors='coerce').fillna(0)
    # Convertir a entero
    df_global[col] = df_global[col].astype(int)

# Columnas que deben ser float
cols_float = ["precio_unitario", "precio_base", "total", "descuento"]
for col in cols_float:
    # Convertir todo a string y eliminar caracteres que no sean dígitos o punto decimal
    df_global[col] = df_global[col].astype(str).str.replace(r'[^0-9.]', '', regex=True)
    # Convertir a numérico y reemplazar errores por 0.0
    df_global[col] = pd.to_numeric(df_global[col], errors='coerce').fillna(0.0)

# Salida de tipos de datos
print(f"\n== Mostrando información sobre los tipos de datos de las columnas ==\n{df_global.dtypes}")


# 1.5 Mostrar las últimas 3 filas del dataset
print(f"\n== Mostrando las 3 últimas filas del dataset global ==\n{df_global.tail(3)}")

== Mostrando las 5 primeras filas del dataset global ==
  Id Pedido   id_cliente id_producto fecha_pedido cantidad precio_unitario  \
0    5492.0  ###ERROR###       736.0   2025-04-13      4.0          1870.9
1   12860.0  ###ERROR###       805.0   2023-11-01     10.0           27.78
2   26216.0  ###ERROR###       719.0   2025-08-06      4.0               1
3   29364.0  ###ERROR###       926.0   2025-04-03      5.0             NaN
4   37596.0  ###ERROR###       663.0   2024-03-26      8.0          360.35

     total metodo_pago estado_pedido     País envío  ... genero edad  \
0   7483.6          Ta      Devuelto         Malawi  ...    NaN  NaN
1    277.8      PayPal     Cancelado        Croatia  ...    NaN  NaN
2   4871.0      PayPal      Devuelto  New Caledonia  ...    NaN  NaN
3  8600.45     Tarjeta     Cancelado    ###ERROR###  ...    NaN  NaN
4   2882.8     Tarjeta       Enviado       Djibouti  ...    NaN  NaN

  nivel_fidelizacion nombre_producto    categoria precio_base  descuento  \
0                NaN        Skin Max       Libros      826.82        5.0
1                NaN       Write Max  Electrónica       901.4       10.0
2                NaN          Of Max         Ropa     1416.59        0.0
3                NaN       Happy Max  Electrónica      353.94       10.0
4                NaN        Upon Pro         None      542.31        0.0

   stock                 proveedor  fecha_alta
0  489.0                Barnes Ltd  2024-07-28
1  390.0                 Boyer Inc  2024-05-24
2  377.0  Henderson, May and Olson  2023-10-05
3   92.0  Bates, Lopez and Carlson  2023-10-11
4  339.0                 Clark LLC  2024-04-10

[5 rows x 25 columns]

== Mostrando las dimensiones del dataset (filas y columnas) ==
(53654, 25)

== Mostrando los nombres de todas las columnas ==
['Id Pedido', 'id_cliente', 'id_producto', 'fecha_pedido', 'cantidad', 'precio_unitario', 'total', 'metodo_pago', 'estado_pedido', 'País envío', 'nombre', 'email', 'telefono', 'direccion', 'fecha_registro', 'genero', 'edad', 'nivel_fidelizacion', 'nombre_producto', 'categoria', 'precio_base', 'descuento', 'stock', 'proveedor', 'fecha_alta']

== Mostrando información sobre los tipos de datos de las columnas ==
Id Pedido               int64
id_cliente              int64
id_producto             int64
fecha_pedido           object
cantidad                int64
precio_unitario       float64
total                 float64
metodo_pago            object
estado_pedido          object
País envío             object
nombre                 object
email                  object
telefono               object
direccion              object
fecha_registro         object
genero                 object
edad                  float64
nivel_fidelizacion     object
nombre_producto        object
categoria              object
precio_base           float64
descuento             float64
stock                   int64
proveedor              object
fecha_alta             object
dtype: object

== Mostrando las 3 últimas filas del dataset global ==
       Id Pedido  id_cliente  id_producto fecha_pedido  cantidad  \
53651     399010           0         4590   2024-06-03        20
53652     399340           0         6440   2024-07-19        90
53653     399570           0         1740  ###ERROR###        70

       precio_unitario     total   metodo_pago estado_pedido País envío  ...  \
53651           811.75   1623.50  Criptomoneda     Cancelado      Congo  ...
53652          1211.02  10899.18  Criptomoneda       Enviado     Malawi  ...
53653           146.34   1024.38        PayPal      Devuelto      Aruba  ...

      genero edad nivel_fidelizacion nombre_producto    categoria precio_base  \
53651    NaN  NaN                NaN       Offer Max      Deporte      759.28
53652    NaN  NaN                NaN       Finally X      Deporte     1511.15
53653    NaN  NaN                NaN        Only Max  Electrónica      348.97

       descuento stock                    proveedor  fecha_alta
53651        5.0  1910                   Ortega Inc  2024-09-10
53652        0.0  2850  Blevins, Reed and Gallagher  2024-05-09
53653       20.0  3240  Ramsey, Anderson and Rivera  2025-03-29

[3 rows x 25 columns]

## Apartado 2: Tipos de datos y valores nulos

In [145]:
# 2.1 Mostrar información detallada del DataFrame (tipos, memoria, nulos)
print(f"\n== Mostrando información detallada del DataFrame (tipos, memoria, nulos) == \n{df_global.info}")

# 2.2 Contar valores nulos por columna
print(f"\n== Mostrando cantidad de valores nulos por columna:\n{df_global.isnull().sum()}")

# 2.3 Mostrar solo las columnas que tienen valores nulos
print(f"\n== Mostrando solo las columnas que tienen valores nulos ==\n{df_global.columns[df_global.isnull().any()]}")

# 2.4 Calcular el porcentaje de valores nulos por columna
porcentaje_nulos = df_global.isnull().mean() * 100
print(f"\n== Mostrando el porcentaje de valores nulos por columna ==\n{porcentaje_nulos.round(2)}")

# 2.5 Verificar si hay filas completamente vacías
filas_vacias = df_global.isin([None, 0, 'NaN', 'nan', '###ERROR###']).all(axis=1)   # Según cómo se planteó más arriba, el 0 se considera vacío
if filas_vacias.any():
    print(f"\n== Mostrando filas completamente vacías ==\n{filas_vacias}")
else:
    print('\n== No se pueden mostrar las filas compltamente vacías porque no existe ninguna ==')

== Mostrando información detallada del DataFrame (tipos, memoria, nulos) ==
<bound method DataFrame.info of        Id Pedido  id_cliente  id_producto fecha_pedido  cantidad  \
0          54920           0         7360   2025-04-13        40
1         128600           0         8050   2023-11-01       100
2         262160           0         7190   2025-08-06        40
3         293640           0         9260   2025-04-03        50
4         375960           0         6630   2024-03-26        80
...          ...         ...          ...          ...       ...
53649     398870           0         3460          NaN        50
53650     398970           0         8580   2024-11-12       100
53651     399010           0         4590   2024-06-03        20
53652     399340           0         6440   2024-07-19        90
53653     399570           0         1740  ###ERROR###        70

       precio_unitario     total   metodo_pago estado_pedido     País envío  \
0              1870.90   7483.60            Ta      Devuelto         Malawi
1                27.78    277.80        PayPal     Cancelado        Croatia
2                 1.00   4871.00        PayPal      Devuelto  New Caledonia
3                 0.00   8600.45       Tarjeta     Cancelado    ###ERROR###
4               360.35   2882.80       Tarjeta       Enviado       Djibouti
...                ...       ...           ...           ...            ...
53649          1353.37   6766.85       Tarjeta     Pendiente        Tokelau
53650           860.26   8602.60       Tarjeta       Enviado         Brazil
53651           811.75   1623.50  Criptomoneda     Cancelado          Congo
53652          1211.02  10899.18  Criptomoneda       Enviado         Malawi
53653           146.34   1024.38        PayPal      Devuelto          Aruba

       ... genero edad nivel_fidelizacion nombre_producto    categoria  \
0      ...    NaN  NaN                NaN        Skin Max       Libros
1      ...    NaN  NaN                NaN       Write Max  Electrónica
2      ...    NaN  NaN                NaN          Of Max         Ropa
3      ...    NaN  NaN                NaN       Happy Max  Electrónica
4      ...    NaN  NaN                NaN        Upon Pro         None
...    ...    ...  ...                ...             ...          ...
53649  ...    NaN  NaN                NaN        Play Max       Libros
53650  ...    NaN  NaN                NaN      Strategy X  Electrónica
53651  ...    NaN  NaN                NaN       Offer Max      Deporte
53652  ...    NaN  NaN                NaN       Finally X      Deporte
53653  ...    NaN  NaN                NaN        Only Max  Electrónica

      precio_base  descuento stock                    proveedor  fecha_alta
0          826.82        5.0  4890                   Barnes Ltd  2024-07-28
1          901.40       10.0  3900                    Boyer Inc  2024-05-24
2         1416.59        0.0  3770     Henderson, May and Olson  2023-10-05
3          353.94       10.0   920     Bates, Lopez and Carlson  2023-10-11
4          542.31        0.0  3390                    Clark LLC  2024-04-10
...           ...        ...   ...                          ...         ...
53649     1809.24       10.0  2020                    Moore PLC  2024-09-04
53650     1530.40        0.0  4780   Beasley, Martinez and Frye  2025-08-29
53651      759.28        5.0  1910                   Ortega Inc  2024-09-10
53652     1511.15        0.0  2850  Blevins, Reed and Gallagher  2024-05-09
53653      348.97       20.0  3240  Ramsey, Anderson and Rivera  2025-03-29

[53654 rows x 25 columns]>

== Mostrando cantidad de valores nulos por columna:
Id Pedido                 0
id_cliente                0
id_producto               0
fecha_pedido           5832
cantidad                  0
precio_unitario           0
total                     0
metodo_pago            5748
estado_pedido          5804
País envío             5882
nombre                47961
email                 47961
telefono              47961
direccion             47961
fecha_registro        47961
genero                47961
edad                  47961
nivel_fidelizacion    47961
nombre_producto        8950
categoria              9076
precio_base               0
descuento                 0
stock                     0
proveedor              8353
fecha_alta             8373
dtype: int64

== Mostrando solo las columnas que tienen valores nulos ==
Index(['fecha_pedido', 'metodo_pago', 'estado_pedido', 'País envío', 'nombre',
       'email', 'telefono', 'direccion', 'fecha_registro', 'genero', 'edad',
       'nivel_fidelizacion', 'nombre_producto', 'categoria', 'proveedor',
       'fecha_alta'],
      dtype='object')

== Mostrando el porcentaje de valores nulos por columna ==
Id Pedido              0.00
id_cliente             0.00
id_producto            0.00
fecha_pedido          10.87
cantidad               0.00
precio_unitario        0.00
total                  0.00
metodo_pago           10.71
estado_pedido         10.82
País envío            10.96
nombre                89.39
email                 89.39
telefono              89.39
direccion             89.39
fecha_registro        89.39
genero                89.39
edad                  89.39
nivel_fidelizacion    89.39
nombre_producto       16.68
categoria             16.92
precio_base            0.00
descuento              0.00
stock                  0.00
proveedor             15.57
fecha_alta            15.61
dtype: float64

== No se pueden mostrar las filas compltamente vacías porque no existe ninguna ==

## Apartado 3: Estadísticas descriptivas

In [146]:
# 3.1 Estadísticas descriptivas de todas las columnas numéricas
# Como se modificó el tipo de datos de las columnas numéricas, ahora se pueden calcular las estadísticas descriptivas
print(f"\n== Estadísticas descriptivas de todas las columnas numéricas ==\n{df_global.describe()}")

# 3.2 Estadísticas descriptivas de todas las columnas (numéricas y categóricas)
print(f"\n== Estadísticas descriptivas de todas las columnas (numéricas y categóricas) ==\n{df_global.describe(include='all')}")

# 3.3 Calcular la media, mediana y moda de la columna 'total'
media = np.mean(df_global['total'])
mediana = np.median(df_global['total'])
# Con pandas sería --> media = df_global['total'].mean(); mediana = df_global['total'].median()
moda = df_global['total'].mode()[0]
print(f"\n== Mostrando operaciones con la columna 'total' ==\n·Media: {media}\n·Mediana: {mediana}\n·Moda: {moda}")

# 3.4 Calcular el rango (máximo - mínimo) de la columna 'cantidad'
rango = np.ptp(df_global['cantidad'])
print(f"\n== Mostrando rango de la columna 'cantidad' ==\n{rango}")
# Con pandas sería --> rango = df_global['cantidad'].max() - df_global['cantidad'].min()

# 3.5 Calcular la desviación estándar y la varianza de la columna 'total'
desv_estandar = np.std(df_global['total'])
varianza = np.var(df_global['total'])
print(f"\n== Desviación estándar y varianza de la columna 'total' ==\n·Desviación estándar: {desv_estandar.round(3)}\n·Varianza: {varianza.round(3)}")

# 3.6 Contar valores únicos en columnas categóricas
'''
OBSERVACIÓN!
------------
Al probar esta slíneas de código, me he topado con que en alguna columna de tipo object existen diccionarios (dict) dentro de las celdas, 
y nunique() no puede trabajar con diccionarios porque no son hashables.
Por lo que la idea es convertir ese dict en columnas normales.
'''
direccion_df = pd.json_normalize(df_global['direccion'])
df_global = pd.concat([df_global.drop(columns=['direccion']), direccion_df], axis=1)
valores_unicos = df_global.select_dtypes(include="object").nunique()
print(f"\n== Contando valores únicos en columnas categóricas ==\n{valores_unicos}")

== Estadísticas descriptivas de todas las columnas numéricas ==
           Id Pedido     id_cliente   id_producto      cantidad  \
count   53654.000000   53654.000000  53654.000000  53654.000000
mean   174115.865322   23042.923939  19551.326704   1587.028945
std    126018.475697   18906.447541  35254.647084  12305.843749
min         0.000000       0.000000      0.000000      0.000000
25%     59410.000000    7190.000000   1630.000000     20.000000
50%    168390.000000   21310.000000   5190.000000     50.000000
75%    283727.500000   36137.500000   8750.000000     80.000000
max    999990.000000  999990.000000  99999.000000  99999.000000

       precio_unitario         total         edad   precio_base     descuento  \
count     53654.000000  53654.000000  5693.000000  53654.000000  53654.000000
mean       2384.943131   6229.225642    53.769542   2025.230871   1391.955194
std       12147.188108  12354.509291    21.204562  10699.137210  11677.152464
min           0.000000      0.000000    18.000000      0.000000      0.000000
25%         291.300000   1010.020000    35.000000    240.160000      0.000000
50%         869.135000   3465.970000    53.000000    811.400000     10.000000
75%        1463.270000   7865.700000    73.000000   1472.210000     15.000000
max       99999.000000  99999.000000    90.000000  99999.000000  99999.000000

              stock
count  53654.000000
mean    3270.189809
std    11006.836126
min        0.000000
25%      490.000000
50%     2080.000000
75%     3380.000000
max    99999.000000

== Estadísticas descriptivas de todas las columnas (numéricas y categóricas) ==
            Id Pedido     id_cliente   id_producto fecha_pedido      cantidad  \
count    53654.000000   53654.000000  53654.000000        47822  53654.000000
unique            NaN            NaN           NaN          734           NaN
top               NaN            NaN           NaN           20           NaN
freq              NaN            NaN           NaN          806           NaN
mean    174115.865322   23042.923939  19551.326704          NaN   1587.028945
std     126018.475697   18906.447541  35254.647084          NaN  12305.843749
min          0.000000       0.000000      0.000000          NaN      0.000000
25%      59410.000000    7190.000000   1630.000000          NaN     20.000000
50%     168390.000000   21310.000000   5190.000000          NaN     50.000000
75%     283727.500000   36137.500000   8750.000000          NaN     80.000000
max     999990.000000  999990.000000  99999.000000          NaN  99999.000000

        precio_unitario         total   metodo_pago estado_pedido  \
count      53654.000000  53654.000000         47906         47850
unique              NaN           NaN            10            10
top                 NaN           NaN  Criptomoneda     Cancelado
freq                NaN           NaN         11802         11626
mean        2384.943131   6229.225642           NaN           NaN
std        12147.188108  12354.509291           NaN           NaN
min            0.000000      0.000000           NaN           NaN
25%          291.300000   1010.020000           NaN           NaN
50%          869.135000   3465.970000           NaN           NaN
75%         1463.270000   7865.700000           NaN           NaN
max        99999.000000  99999.000000           NaN           NaN

         País envío  ... genero         edad nivel_fidelizacion  \
count         47772  ...   5693  5693.000000               5693
unique          354  ...      3          NaN                  4
top     ###ERROR###  ...   Otro          NaN             Bronce
freq            832  ...   2208          NaN               1762
mean            NaN  ...    NaN    53.769542                NaN
std             NaN  ...    NaN    21.204562                NaN
min             NaN  ...    NaN    18.000000                NaN
25%             NaN  ...    NaN    35.000000                NaN
50%             NaN  ...    NaN    53.000000                NaN
75%             NaN  ...    NaN    73.000000                NaN
max             NaN  ...    NaN    90.000000                NaN

       nombre_producto categoria   precio_base     descuento         stock  \
count            44704     44578  53654.000000  53654.000000  53654.000000
unique             843        13           NaN           NaN           NaN
top        ###ERROR###    Libros           NaN           NaN           NaN
freq              1212      8102           NaN           NaN           NaN
mean               NaN       NaN   2025.230871   1391.955194   3270.189809
std                NaN       NaN  10699.137210  11677.152464  11006.836126
min                NaN       NaN      0.000000      0.000000      0.000000
25%                NaN       NaN    240.160000      0.000000    490.000000
50%                NaN       NaN    811.400000     10.000000   2080.000000
75%                NaN       NaN   1472.210000     15.000000   3380.000000
max                NaN       NaN  99999.000000  99999.000000  99999.000000

            proveedor  fecha_alta
count           45301       45281
unique            927         626
top     Reed and Sons  2025-09-08
freq              700         741
mean              NaN         NaN
std               NaN         NaN
min               NaN         NaN
25%               NaN         NaN
50%               NaN         NaN
75%               NaN         NaN
max               NaN         NaN

[11 rows x 25 columns]

== Mostrando operaciones con la columna 'total' ==
·Media: 6229.225642077011
·Mediana: 3465.9700000000003
·Moda: 0.0

== Mostrando rango de la columna 'cantidad' ==
99999

== Desviación estándar y varianza de la columna 'total' ==
·Desviación estándar: 12354.394
·Varianza: 152631055.052

== Contando valores únicos en columnas categóricas ==
fecha_pedido           734
metodo_pago             10
estado_pedido           10
País envío             354
nombre                4841
email                 4952
telefono              5000
fecha_registro        1697
genero                   3
nivel_fidelizacion       4
nombre_producto        843
categoria               13
proveedor              927
fecha_alta             626
calle                 5000
ciudad                4274
codigo_postal         4884
pais                   243
dtype: int64

## Apartado 4: Filtrado simple

In [147]:
# 4.1 Filtrar pedidos con cantidad mayor a 5 unidades
pedidos_mas_5_unidades = df_global[df_global['cantidad'] > 5]
print(f"\n== Mostrando pedidos con 'cantidad' mayor a 5 unidades ==\n{pedidos_mas_5_unidades}")

# 4.2 Filtrar pedidos con total mayor a 1000 euros
pedidos_mas_100_euros = df_global[df_global['total'] > 1000]
print(f"\n== Mostrando pedidos con 'total' mayor a 1000 euros ==\n{pedidos_mas_100_euros}")

# 4.3 Filtrar pedidos con precio unitario menor a 50 euros
pedidos_menos_50_euros = df_global[df_global['precio_unitario'] < 50]
print(f"\n== Mostrando pedidos con 'precio_unitario' menor a 50 euros ==\n{pedidos_menos_50_euros}")

# 4.4 Filtrar pedidos con cantidad igual a 1
pedidos_cantidad_igual_1 = df_global[df_global['cantidad'] == 1]
print(f"\n== Mostrando pedidos con 'cantidad' igual a 1 ==\n{pedidos_cantidad_igual_1}")

# 4.5 Mostrar los primeros 5 pedidos grandes (cantidad > 5)
print(f"\n== Mostrando los 5 primeros pedidos con 'cantidad' mayor a 5 unidades ==\n{pedidos_mas_5_unidades.head(5)}")  # Como ya está definida antes, cojo la variable  'pedidos_mas_5_unidades'

# 4.6 Mostrar los primeros 5 pedidos caros (total > 1000€)
print(f"\n== Mostrando los 5 primeros pedidos con 'total' mayor a 1000 euros ==\n{pedidos_mas_100_euros.head(5)}")  # Como ya está definida antes, cojo la variable  'pedidos_mas_100_euros'

== Mostrando pedidos con 'cantidad' mayor a 5 unidades ==
       Id Pedido  id_cliente  id_producto fecha_pedido  cantidad  \
0          54920           0         7360   2025-04-13        40
1         128600           0         8050   2023-11-01       100
2         262160           0         7190   2025-08-06        40
3         293640           0         9260   2025-04-03        50
4         375960           0         6630   2024-03-26        80
...          ...         ...          ...          ...       ...
53649     398870           0         3460          NaN        50
53650     398970           0         8580   2024-11-12       100
53651     399010           0         4590   2024-06-03        20
53652     399340           0         6440   2024-07-19        90
53653     399570           0         1740  ###ERROR###        70

       precio_unitario     total   metodo_pago estado_pedido     País envío  \
0              1870.90   7483.60            Ta      Devuelto         Malawi
1                27.78    277.80        PayPal     Cancelado        Croatia
2                 1.00   4871.00        PayPal      Devuelto  New Caledonia
3                 0.00   8600.45       Tarjeta     Cancelado    ###ERROR###
4               360.35   2882.80       Tarjeta       Enviado       Djibouti
...                ...       ...           ...           ...            ...
53649          1353.37   6766.85       Tarjeta     Pendiente        Tokelau
53650           860.26   8602.60       Tarjeta       Enviado         Brazil
53651           811.75   1623.50  Criptomoneda     Cancelado          Congo
53652          1211.02  10899.18  Criptomoneda       Enviado         Malawi
53653           146.34   1024.38        PayPal      Devuelto          Aruba

       ...    categoria precio_base descuento stock  \
0      ...       Libros      826.82       5.0  4890
1      ...  Electrónica      901.40      10.0  3900
2      ...         Ropa     1416.59       0.0  3770
3      ...  Electrónica      353.94      10.0   920
4      ...         None      542.31       0.0  3390
...    ...          ...         ...       ...   ...
53649  ...       Libros     1809.24      10.0  2020
53650  ...  Electrónica     1530.40       0.0  4780
53651  ...      Deporte      759.28       5.0  1910
53652  ...      Deporte     1511.15       0.0  2850
53653  ...  Electrónica      348.97      20.0  3240

                         proveedor  fecha_alta calle ciudad codigo_postal  \
0                       Barnes Ltd  2024-07-28   NaN    NaN           NaN
1                        Boyer Inc  2024-05-24   NaN    NaN           NaN
2         Henderson, May and Olson  2023-10-05   NaN    NaN           NaN
3         Bates, Lopez and Carlson  2023-10-11   NaN    NaN           NaN
4                        Clark LLC  2024-04-10   NaN    NaN           NaN
...                            ...         ...   ...    ...           ...
53649                    Moore PLC  2024-09-04   NaN    NaN           NaN
53650   Beasley, Martinez and Frye  2025-08-29   NaN    NaN           NaN
53651                   Ortega Inc  2024-09-10   NaN    NaN           NaN
53652  Blevins, Reed and Gallagher  2024-05-09   NaN    NaN           NaN
53653  Ramsey, Anderson and Rivera  2025-03-29   NaN    NaN           NaN

       pais
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
...     ...
53649   NaN
53650   NaN
53651   NaN
53652   NaN
53653   NaN

[47358 rows x 28 columns]

== Mostrando pedidos con 'total' mayor a 1000 euros ==
       Id Pedido  id_cliente  id_producto fecha_pedido  cantidad  \
0          54920           0         7360   2025-04-13        40
2         262160           0         7190   2025-08-06        40
3         293640           0         9260   2025-04-03        50
4         375960           0         6630   2024-03-26        80
5          41100           0         1210   2025-05-12        30
...          ...         ...          ...          ...       ...
53649     398870           0         3460          NaN        50
53650     398970           0         8580   2024-11-12       100
53651     399010           0         4590   2024-06-03        20
53652     399340           0         6440   2024-07-19        90
53653     399570           0         1740  ###ERROR###        70

       precio_unitario     total    metodo_pago estado_pedido     País envío  \
0              1870.90   7483.60             Ta      Devuelto         Malawi
2                 1.00   4871.00         PayPal      Devuelto  New Caledonia
3                 0.00   8600.45        Tarjeta     Cancelado    ###ERROR###
4               360.35   2882.80        Tarjeta       Enviado       Djibouti
5              1146.86   3440.58  Transferencia      Devuelto     Seychelles
...                ...       ...            ...           ...            ...
53649          1353.37   6766.85        Tarjeta     Pendiente        Tokelau
53650           860.26   8602.60        Tarjeta       Enviado         Brazil
53651           811.75   1623.50   Criptomoneda     Cancelado          Congo
53652          1211.02  10899.18   Criptomoneda       Enviado         Malawi
53653           146.34   1024.38         PayPal      Devuelto          Aruba

       ...    categoria precio_base descuento stock  \
0      ...       Libros      826.82       5.0  4890
2      ...         Ropa     1416.59       0.0  3770
3      ...  Electrónica      353.94      10.0   920
4      ...         None      542.31       0.0  3390
5      ...        Hogar     1015.17       5.0  3060
...    ...          ...         ...       ...   ...
53649  ...       Libros     1809.24      10.0  2020
53650  ...  Electrónica     1530.40       0.0  4780
53651  ...      Deporte      759.28       5.0  1910
53652  ...      Deporte     1511.15       0.0  2850
53653  ...  Electrónica      348.97      20.0  3240

                         proveedor  fecha_alta calle ciudad codigo_postal  \
0                       Barnes Ltd  2024-07-28   NaN    NaN           NaN
2         Henderson, May and Olson  2023-10-05   NaN    NaN           NaN
3         Bates, Lopez and Carlson  2023-10-11   NaN    NaN           NaN
4                        Clark LLC  2024-04-10   NaN    NaN           NaN
5                      King-Martin  2024-06-24   NaN    NaN           NaN
...                            ...         ...   ...    ...           ...
53649                    Moore PLC  2024-09-04   NaN    NaN           NaN
53650   Beasley, Martinez and Frye  2025-08-29   NaN    NaN           NaN
53651                   Ortega Inc  2024-09-10   NaN    NaN           NaN
53652  Blevins, Reed and Gallagher  2024-05-09   NaN    NaN           NaN
53653  Ramsey, Anderson and Rivera  2025-03-29   NaN    NaN           NaN

       pais
0       NaN
2       NaN
3       NaN
4       NaN
5       NaN
...     ...
53649   NaN
53650   NaN
53651   NaN
53652   NaN
53653   NaN

[40312 rows x 28 columns]

== Mostrando pedidos con 'precio_unitario' menor a 50 euros ==
       Id Pedido  id_cliente  id_producto fecha_pedido  cantidad  \
1         128600           0         8050   2023-11-01       100
2         262160           0         7190   2025-08-06        40
3         293640           0         9260   2025-04-03        50
35         10960       99999            0   2024-03-22        40
110        33460       99999         8320   2024-09-12        70
...          ...         ...          ...          ...       ...
53459     311110           0         1840   2025-06-08        30
53478     320550           0          800   2024-05-18        30
53500      99999           0         8450   2023-11-22        30
53560     352820           0            5   2025-01-31        60
53561     352820           0            5   2025-01-31        60

       precio_unitario    total    metodo_pago estado_pedido      País envío  \
1                27.78   277.80         PayPal     Cancelado         Croatia
2                 1.00  4871.00         PayPal      Devuelto   New Caledonia
3                 0.00  8600.45        Tarjeta     Cancelado     ###ERROR###
35               48.04   192.16        Tarjeta     Pendiente           India
110              13.84    96.88         PayPal     Pendiente           Malta
...                ...      ...            ...           ...             ...
53459             0.00  2253.69        Tarjeta     Pendiente      Montenegro
53478             0.00  4988.79   Criptomoneda            En   New Caledonia
53500             0.00  4755.27  Transferencia       Enviado  Western Sahara
53560            39.85   239.10  Transferencia      Devuelto    Sierra Leone
53561            39.85   239.10  Transferencia      Devuelto    Sierra Leone

       ...    categoria precio_base descuento stock  \
1      ...  Electrónica      901.40      10.0  3900
2      ...         Ropa     1416.59       0.0  3770
3      ...  Electrónica      353.94      10.0   920
35     ...          NaN        0.00       0.0     0
110    ...      Deporte     1567.74      20.0  2520
...    ...          ...         ...       ...   ...
53459  ...      Deporte     1547.33      15.0  3070
53478  ...      Deporte      429.49      20.0    30
53500  ...       Libros     1332.39       0.0  3220
53560  ...        Hogar      825.33      10.0  4410
53561  ...      Deporte      553.66      10.0  2140

                         proveedor  fecha_alta calle ciudad codigo_postal  \
1                        Boyer Inc  2024-05-24   NaN    NaN           NaN
2         Henderson, May and Olson  2023-10-05   NaN    NaN           NaN
3         Bates, Lopez and Carlson  2023-10-11   NaN    NaN           NaN
35                             NaN         NaN   NaN    NaN           NaN
110                 Davis and Sons  2024-08-12   NaN    NaN           NaN
...                            ...         ...   ...    ...           ...
53459                   Weaver PLC  2025-03-30   NaN    NaN           NaN
53478               Adams-Martinez  2022-12-23   NaN    NaN           NaN
53500  Miller, Green and Patterson  2025-02-16   NaN    NaN           NaN
53560   Ferguson, Simmons and Bray  2023-11-13   NaN    NaN           NaN
53561         Kline, Khan and Vang  2025-02-21   NaN    NaN           NaN

       pais
1       NaN
2       NaN
3       NaN
35      NaN
110     NaN
...     ...
53459   NaN
53478   NaN
53500   NaN
53560   NaN
53561   NaN

[7562 rows x 28 columns]

== Mostrando pedidos con 'cantidad' igual a 1 ==
       Id Pedido  id_cliente  id_producto fecha_pedido  cantidad  \
940       342640           1          640   2025-03-17         1
1668      281790       10540         7440   2024-02-04         1
2284       38490       11070          220   2025-09-07         1
2384      144360       11140         1860   2024-01-18         1
2501      251140       11250         3930   2024-10-29         1
...          ...         ...          ...          ...       ...
52505     113150        9660         2310   2025-03-20         1
53013      88970           0         1320   2025-06-20         1
53159      99999           0         1340   2024-09-23         1
53319     246480           0         3020   2025-06-17         1
53636     388740           0         4420   2024-04-21         1

       precio_unitario     total    metodo_pago estado_pedido  \
940            1492.91   1492.91  Transferencia       Enviado
1668           1945.86   1945.86             Ta     Pendiente
2284            382.75   3827.50         PayPal      Devuelto
2384            804.80    804.80   Criptomoneda       Enviado
2501           1598.55  15985.50         PayPal     Pendiente
...                ...       ...            ...           ...
52505           876.13    876.13  Transferencia      Devuelto
53013           818.44    818.44         PayPal      Devuelto
53159           158.63    158.63        Tarjeta      Devuelto
53319          1561.55   1561.55   Criptomoneda       Enviado
53636          1154.70   1154.70        Tarjeta      Devuelto

                      País envío  ...    categoria precio_base descuento  \
940                     Djibouti  ...     Juguetes      116.44       5.0
1668                      Israel  ...  Electrónica     1144.23      10.0
2284                     Bahamas  ...          NaN        0.00       0.0
2384                       Korea  ...       Libros       84.70      10.0
2501    Northern Mariana Islands  ...        Hogar     1483.48       5.0
...                          ...  ...          ...         ...       ...
52505  Bouvet Island (Bouvetoya)  ...         Ropa     1431.29       5.0
53013                      Tonga  ...       Libros     1900.47       5.0
53159                   Kiribati  ...         Ropa       51.89       0.0
53319                     Malawi  ...  ###ERROR###     1758.82      15.0
53636      Sao Tome and Principe  ...       Libros        2.00       5.0

      stock                  proveedor  fecha_alta                   calle  \
940    2540             Turner-Johnson  2024-10-30  94553 Garner Underpass
1668   4430            Curry-Daugherty  2025-04-08                     NaN
2284      0                        NaN         NaN                     NaN
2384   2010                       None  2025-05-23                     NaN
2501    350  Stewart, Garcia and Hicks  2023-11-27                     NaN
...     ...                        ...         ...                     ...
52505  1940                         Jo  2025-06-14                     NaN
53013  3860                   Soto Inc  2024-11-18                     NaN
53159  1510                       None  2023-07-16                     NaN
53319  4750            Jacobs-Robinson  2025-01-10                     NaN
53636     1              Frey and Sons  2023-08-18                     NaN

                 ciudad codigo_postal                       pais
940    South Bobbyburgh         97411  Saint Pierre and Miquelon
1668                NaN           NaN                        NaN
2284                NaN           NaN                        NaN
2384                NaN           NaN                        NaN
2501                NaN           NaN                        NaN
...                 ...           ...                        ...
52505               NaN           NaN                        NaN
53013               NaN           NaN                        NaN
53159               NaN           NaN                        NaN
53319               NaN           NaN                        NaN
53636               NaN           NaN                        NaN

[166 rows x 28 columns]

== Mostrando los 5 primeros pedidos con 'cantidad' mayor a 5 unidades ==
   Id Pedido  id_cliente  id_producto fecha_pedido  cantidad  precio_unitario  \
0      54920           0         7360   2025-04-13        40          1870.90
1     128600           0         8050   2023-11-01       100            27.78
2     262160           0         7190   2025-08-06        40             1.00
3     293640           0         9260   2025-04-03        50             0.00
4     375960           0         6630   2024-03-26        80           360.35

     total metodo_pago estado_pedido     País envío  ...    categoria  \
0  7483.60          Ta      Devuelto         Malawi  ...       Libros
1   277.80      PayPal     Cancelado        Croatia  ...  Electrónica
2  4871.00      PayPal      Devuelto  New Caledonia  ...         Ropa
3  8600.45     Tarjeta     Cancelado    ###ERROR###  ...  Electrónica
4  2882.80     Tarjeta       Enviado       Djibouti  ...         None

  precio_base descuento stock                 proveedor  fecha_alta calle  \
0      826.82       5.0  4890                Barnes Ltd  2024-07-28   NaN
1      901.40      10.0  3900                 Boyer Inc  2024-05-24   NaN
2     1416.59       0.0  3770  Henderson, May and Olson  2023-10-05   NaN
3      353.94      10.0   920  Bates, Lopez and Carlson  2023-10-11   NaN
4      542.31       0.0  3390                 Clark LLC  2024-04-10   NaN

  ciudad codigo_postal  pais
0    NaN           NaN   NaN
1    NaN           NaN   NaN
2    NaN           NaN   NaN
3    NaN           NaN   NaN
4    NaN           NaN   NaN

[5 rows x 28 columns]

== Mostrando los 5 primeros pedidos con 'total' mayor a 1000 euros ==
   Id Pedido  id_cliente  id_producto fecha_pedido  cantidad  precio_unitario  \
0      54920           0         7360   2025-04-13        40          1870.90
2     262160           0         7190   2025-08-06        40             1.00
3     293640           0         9260   2025-04-03        50             0.00
4     375960           0         6630   2024-03-26        80           360.35
5      41100           0         1210   2025-05-12        30          1146.86

     total    metodo_pago estado_pedido     País envío  ...    categoria  \
0  7483.60             Ta      Devuelto         Malawi  ...       Libros
2  4871.00         PayPal      Devuelto  New Caledonia  ...         Ropa
3  8600.45        Tarjeta     Cancelado    ###ERROR###  ...  Electrónica
4  2882.80        Tarjeta       Enviado       Djibouti  ...         None
5  3440.58  Transferencia      Devuelto     Seychelles  ...        Hogar

  precio_base descuento stock                 proveedor  fecha_alta calle  \
0      826.82       5.0  4890                Barnes Ltd  2024-07-28   NaN
2     1416.59       0.0  3770  Henderson, May and Olson  2023-10-05   NaN
3      353.94      10.0   920  Bates, Lopez and Carlson  2023-10-11   NaN
4      542.31       0.0  3390                 Clark LLC  2024-04-10   NaN
5     1015.17       5.0  3060               King-Martin  2024-06-24   NaN

  ciudad codigo_postal  pais
0    NaN           NaN   NaN
2    NaN           NaN   NaN
3    NaN           NaN   NaN
4    NaN           NaN   NaN
5    NaN           NaN   NaN

[5 rows x 28 columns]

## Apartado 5: Filtrado con múltiples condiciones

In [148]:
# 5.1 Filtrar pedidos enviados con cantidad mayor a 3
pedidos_enviados_mayor_3 = df_global[(df_global['estado_pedido'] == "Enviado") & (df_global['cantidad'] > 3)]
print(f"\n== Mostrando los 5 primeros pedidos con 'cantidad' mayor a 5 unidades ==\n{pedidos_enviados_mayor_3}")

# 5.2 Filtrar pedidos de tarjeta o PayPal con total mayor a 500 euros
pedidos_tarjeta = df_global['metodo_pago'] == 'Tarjeta'
pedidos_paypal = df_global['metodo_pago'] == 'PayPal'
pedidos_total_mayor_500 = df_global['total'] > 500
print(f"\n== Mostrando los pedidos de tarjeta o PayPal con 'total' mayor a 500 euros ==\n{df_global[(pedidos_tarjeta | pedidos_paypal) & pedidos_total_mayor_500]}")

# 5.3 Filtrar pedidos pendientes o cancelados con cantidad menor a 2
pedidos_pendientes = df_global['estado_pedido'] == 'Pendiente'
pedidos_cancelados = df_global['estado_pedido'] == 'Cancelado'
pedidos_cantidad_menor_2 = df_global['cantidad'] < 2
print(f"\n== Mostrando los pedidos pendientes o cancelados con 'cantidad' menor a 2 ==\n{df_global[(pedidos_pendientes | pedidos_cancelados) & pedidos_cantidad_menor_2]}")

# 5.4 Filtrar pedidos enviados o devueltos con precio unitario mayor a 100
pedidos_enviado = df_global['estado_pedido'] == 'Enviado'
pedidos_devuelto = df_global['estado_pedido'] == 'Devuelto'
pedidos_precio_mayor_2 = df_global['precio_unitario'] > 100
print(f"\n== Mostrando los pedidos enviados o devueltos con 'precio_unitario' mayor a 100 ==\n{df_global[(pedidos_enviado | pedidos_devuelto) & pedidos_precio_mayor_2]}")

# 5.5 Mostrar los primeros 5 pedidos enviados grandes
# Como sabemos de antes que pedidos grandes --> cantidad > 5
pedidos_enviados_mas_5_unidades = df_global[(df_global['estado_pedido'] == 'Enviado') & (df_global['cantidad'] > 5)]
print(f"\n== Mostrando los primeros 5 pedidos enviados grandes ('cantidad' > 5) ==\n{pedidos_enviados_mas_5_unidades.head(5)}")

# 5.6 Mostrar los primeros 5 pedidos premium (método de pago Tarjeta o Paypal y que además su total sea mayor que 500)
# Como esas variables ya están definidas en esta celda, las voy a utilizar aquí
pedidos_premium = df_global[(pedidos_tarjeta | pedidos_paypal) & pedidos_total_mayor_500]
print(f"\n== Mostrando los primeros 5 pedidos premium (tarjeta o PayPal con 'total' mayor a 500 euros) ==\n{pedidos_premium.head(5)}")

== Mostrando los 5 primeros pedidos con 'cantidad' mayor a 5 unidades ==
       Id Pedido  id_cliente  id_producto fecha_pedido  cantidad  \
4         375960           0         6630   2024-03-26        80
6              0           0         6230   2025-09-21        40
10        273050           0         6980   2024-02-22        40
16          2710       99999         7760   2024-04-01        70
23          5210       99999         3940   2025-01-29        30
...          ...         ...          ...          ...       ...
53633     384480           0        99999   2023-11-06        70
53638     390620           0         6330   2025-03-15        30
53648     398740           0         5140   2024-11-24     99999
53650     398970           0         8580   2024-11-12       100
53652     399340           0         6440   2024-07-19        90

       precio_unitario     total    metodo_pago estado_pedido  \
4               360.35   2882.80        Tarjeta       Enviado
6               815.00   3260.00   Criptomoneda       Enviado
10              218.43  99999.00        Tarjeta       Enviado
16              284.02   1988.14   Criptomoneda       Enviado
23             1192.62   3577.86  Transferencia       Enviado
...                ...       ...            ...           ...
53633          1908.56  13359.92        Tarjeta       Enviado
53638          1358.60   4075.80  Transferencia       Enviado
53648          1112.44   6674.64        Tarjeta       Enviado
53650           860.26   8602.60        Tarjeta       Enviado
53652          1211.02  10899.18   Criptomoneda       Enviado

                                 País envío  ...    categoria precio_base  \
4                                  Djibouti  ...         None      542.31
6                                 Swaziland  ...      Deporte      943.44
10                                   Uganda  ...     Juguetes     1619.15
16                                  Austria  ...      Deporte     1303.00
23                             Saint Helena  ...     Juguetes       13.00
...                                     ...  ...          ...         ...
53633                                 Congo  ...       Libros     1973.06
53638                                 Malta  ...      Deporte     1572.29
53648  United States Minor Outlying Islands  ...          NaN        0.00
53650                                Brazil  ...  Electrónica     1530.40
53652                                Malawi  ...      Deporte     1511.15

      descuento stock                    proveedor  fecha_alta calle ciudad  \
4           0.0  3390                    Clark LLC  2024-04-10   NaN    NaN
6           0.0  4740                     Hill PLC  2024-07-24   NaN    NaN
10         15.0  2130                 Lopez-Bowman  2023-09-01   NaN    NaN
16         10.0  3970        Davenport-Blankenship  2023-09-18   NaN    NaN
23         15.0   210                           Wa  2023-05-13   NaN    NaN
...         ...   ...                          ...         ...   ...    ...
53633      20.0  3820                  Wyatt-Glenn  2023-08-25   NaN    NaN
53638      20.0  2780               Hunt-Hernandez  2023-12-16   NaN    NaN
53648       0.0     0                          NaN         NaN   NaN    NaN
53650       0.0  4780   Beasley, Martinez and Frye  2025-08-29   NaN    NaN
53652       0.0  2850  Blevins, Reed and Gallagher  2024-05-09   NaN    NaN

      codigo_postal  pais
4               NaN   NaN
6               NaN   NaN
10              NaN   NaN
16              NaN   NaN
23              NaN   NaN
...             ...   ...
53633           NaN   NaN
53638           NaN   NaN
53648           NaN   NaN
53650           NaN   NaN
53652           NaN   NaN

[11191 rows x 28 columns]

== Mostrando los pedidos de tarjeta o PayPal con 'total' mayor a 500 euros ==
       Id Pedido  id_cliente  id_producto fecha_pedido  cantidad  \
2         262160           0         7190   2025-08-06        40
3         293640           0         9260   2025-04-03        50
4         375960           0         6630   2024-03-26        80
10        273050           0         6980   2024-02-22        40
11        310390           0         5080   2023-12-05        10
...          ...         ...          ...          ...       ...
53647     398460           0         2430   2025-09-18        30
53648     398740           0         5140   2024-11-24     99999
53649     398870           0         3460          NaN        50
53650     398970           0         8580   2024-11-12       100
53653     399570           0         1740  ###ERROR###        70

       precio_unitario     total metodo_pago estado_pedido  \
2                 1.00   4871.00      PayPal      Devuelto
3                 0.00   8600.45     Tarjeta     Cancelado
4               360.35   2882.80     Tarjeta       Enviado
10              218.43  99999.00     Tarjeta       Enviado
11              987.98    987.98      PayPal      Devuelto
...                ...       ...         ...           ...
53647          1931.05   5793.15     Tarjeta     Cancelado
53648          1112.44   6674.64     Tarjeta       Enviado
53649          1353.37   6766.85     Tarjeta     Pendiente
53650           860.26   8602.60     Tarjeta       Enviado
53653           146.34   1024.38      PayPal      Devuelto

                                 País envío  ...    categoria precio_base  \
2                             New Caledonia  ...         Ropa     1416.59
3                               ###ERROR###  ...  Electrónica      353.94
4                                  Djibouti  ...         None      542.31
10                                   Uganda  ...     Juguetes     1619.15
11                              Timor-Leste  ...  Electrónica      622.62
...                                     ...  ...          ...         ...
53647                            Montserrat  ...         Ropa     1744.26
53648  United States Minor Outlying Islands  ...          NaN        0.00
53649                               Tokelau  ...       Libros     1809.24
53650                                Brazil  ...  Electrónica     1530.40
53653                                 Aruba  ...  Electrónica      348.97

      descuento stock                    proveedor  fecha_alta calle ciudad  \
2           0.0  3770     Henderson, May and Olson  2023-10-05   NaN    NaN
3          10.0   920     Bates, Lopez and Carlson  2023-10-11   NaN    NaN
4           0.0  3390                    Clark LLC  2024-04-10   NaN    NaN
10         15.0  2130                 Lopez-Bowman  2023-09-01   NaN    NaN
11         10.0   420         Rodriguez-Mccullough  2023-11-18   NaN    NaN
...         ...   ...                          ...         ...   ...    ...
53647      20.0   260          Gray, Silva and Lee  2025-02-11   NaN    NaN
53648       0.0     0                          NaN         NaN   NaN    NaN
53649      10.0  2020                    Moore PLC  2024-09-04   NaN    NaN
53650       0.0  4780   Beasley, Martinez and Frye  2025-08-29   NaN    NaN
53653      20.0  3240  Ramsey, Anderson and Rivera  2025-03-29   NaN    NaN

      codigo_postal  pais
2               NaN   NaN
3               NaN   NaN
4               NaN   NaN
10              NaN   NaN
11              NaN   NaN
...             ...   ...
53647           NaN   NaN
53648           NaN   NaN
53649           NaN   NaN
53650           NaN   NaN
53653           NaN   NaN

[20729 rows x 28 columns]

== Mostrando los pedidos pendientes o cancelados con 'cantidad' menor a 2 ==
       Id Pedido  id_cliente  id_producto fecha_pedido  cantidad  \
196        91000       99999         3010   2024-12-11         0
222        98080       99999         9020   2023-12-23         0
452       230100       99999            0   2024-12-26         0
599       307150       99999          950   2025-05-04         0
757       381150       99999         7860   2024-07-21         0
...          ...         ...          ...          ...       ...
52829     224940        9980         2010   2024-08-09         0
53016      91180           0         9140   2024-10-10         0
53314     243950           0         3140   2024-01-08         0
53502     334900           0         3780   2024-01-25         0
53615     380940           0         6000   2024-10-15         0

       precio_unitario    total    metodo_pago estado_pedido  \
196             206.02  2060.20        Tarjeta     Cancelado
222            1230.87  7385.22  Transferencia     Cancelado
452            1149.42  8045.94  Transferencia     Pendiente
599            1620.18  6480.72   Criptomoneda     Cancelado
757             673.12  1346.24  Transferencia     Cancelado
...                ...      ...            ...           ...
52829          1808.55  3617.10   Criptomoneda     Pendiente
53016          1093.95  8751.60        Tarjeta     Pendiente
53314           913.36  4566.80  Transferencia     Pendiente
53502           699.50  2798.00  Transferencia     Cancelado
53615           261.60     5.00         PayPal     Pendiente

                     País envío  ...    categoria precio_base descuento stock  \
196                       Congo  ...        Hogar    99999.00       0.0     1
222                        Chad  ...          NaN        0.00       0.0     0
452                     Denmark  ...          NaN        0.00       0.0     0
599                       Italy  ...  Electrónica      610.38      15.0  3730
757                     Jamaica  ...        Hogar      385.56      10.0  2810
...                         ...  ...          ...         ...       ...   ...
52829                    Guyana  ...        Hogar      495.04      15.0  3670
53016                   Croatia  ...  Electrónica      590.17      15.0  1920
53314  Central African Republic  ...     Juguetes      572.47       0.0  2360
53502                       NaN  ...         None     1251.77       0.0  4020
53615                  Maldives  ...     Juguetes     1899.10      15.0  3210

                       proveedor  fecha_alta calle ciudad codigo_postal  pais
196     Turner, Wilson and Smith  2025-05-19   NaN    NaN           NaN   NaN
222                          NaN         NaN   NaN    NaN           NaN   NaN
452                          NaN         NaN   NaN    NaN           NaN   NaN
599                         None  2023-11-23   NaN    NaN           NaN   NaN
757              Thomas-Mcintyre  2025-04-21   NaN    NaN           NaN   NaN
...                          ...         ...   ...    ...           ...   ...
52829             Mcguire-Taylor  2024-02-06   NaN    NaN           NaN   NaN
53016                 Carter Ltd  2022-12-24   NaN    NaN           NaN   NaN
53314             Edwards-Arnold  2023-03-06   NaN    NaN           NaN   NaN
53502       Olsen, Bell and Cruz        None   NaN    NaN           NaN   NaN
53615  Schultz, West and Ramirez  2022-11-18   NaN    NaN           NaN   NaN

[456 rows x 28 columns]

== Mostrando los pedidos enviados o devueltos con 'precio_unitario' mayor a 100 ==
       Id Pedido  id_cliente  id_producto fecha_pedido  cantidad  \
0          54920           0         7360   2025-04-13        40
4         375960           0         6630   2024-03-26        80
5          41100           0         1210   2025-05-12        30
6              0           0         6230   2025-09-21        40
7          97780           0         4200   2024-04-25       100
...          ...         ...          ...          ...       ...
53643     394710           0         2130   2024-11-07        20
53648     398740           0         5140   2024-11-24     99999
53650     398970           0         8580   2024-11-12       100
53652     399340           0         6440   2024-07-19        90
53653     399570           0         1740  ###ERROR###        70

       precio_unitario     total    metodo_pago estado_pedido  \
0              1870.90   7483.60             Ta      Devuelto
4               360.35   2882.80        Tarjeta       Enviado
5              1146.86   3440.58  Transferencia      Devuelto
6               815.00   3260.00   Criptomoneda       Enviado
7               805.86   8058.60   Criptomoneda      Devuelto
...                ...       ...            ...           ...
53643          1564.09   3128.18   Criptomoneda      Devuelto
53648          1112.44   6674.64        Tarjeta       Enviado
53650           860.26   8602.60        Tarjeta       Enviado
53652          1211.02  10899.18   Criptomoneda       Enviado
53653           146.34   1024.38         PayPal      Devuelto

                                 País envío  ...    categoria precio_base  \
0                                    Malawi  ...       Libros      826.82
4                                  Djibouti  ...         None      542.31
5                                Seychelles  ...        Hogar     1015.17
6                                 Swaziland  ...      Deporte      943.44
7                          Pitcairn Islands  ...      Deporte     1572.46
...                                     ...  ...          ...         ...
53643      Lao People's Democratic Republic  ...     Juguetes     1440.55
53648  United States Minor Outlying Islands  ...          NaN        0.00
53650                                Brazil  ...  Electrónica     1530.40
53652                                Malawi  ...      Deporte     1511.15
53653                                 Aruba  ...  Electrónica      348.97

      descuento stock                    proveedor  fecha_alta calle ciudad  \
0           5.0  4890                   Barnes Ltd  2024-07-28   NaN    NaN
4           0.0  3390                    Clark LLC  2024-04-10   NaN    NaN
5           5.0  3060                  King-Martin  2024-06-24   NaN    NaN
6           0.0  4740                     Hill PLC  2024-07-24   NaN    NaN
7          20.0   330                 Anderson Inc  2023-11-04   NaN    NaN
...         ...   ...                          ...         ...   ...    ...
53643      10.0  2200            Gonzalez and Sons  2023-01-22   NaN    NaN
53648       0.0     0                          NaN         NaN   NaN    NaN
53650       0.0  4780   Beasley, Martinez and Frye  2025-08-29   NaN    NaN
53652       0.0  2850  Blevins, Reed and Gallagher  2024-05-09   NaN    NaN
53653      20.0  3240  Ramsey, Anderson and Rivera  2025-03-29   NaN    NaN

      codigo_postal  pais
0               NaN   NaN
4               NaN   NaN
5               NaN   NaN
6               NaN   NaN
7               NaN   NaN
...             ...   ...
53643           NaN   NaN
53648           NaN   NaN
53650           NaN   NaN
53652           NaN   NaN
53653           NaN   NaN

[21131 rows x 28 columns]

== Mostrando los primeros 5 pedidos enviados grandes ('cantidad' > 5) ==
    Id Pedido  id_cliente  id_producto fecha_pedido  cantidad  \
4      375960           0         6630   2024-03-26        80
6           0           0         6230   2025-09-21        40
10     273050           0         6980   2024-02-22        40
16       2710       99999         7760   2024-04-01        70
23       5210       99999         3940   2025-01-29        30

    precio_unitario     total    metodo_pago estado_pedido    País envío  ...  \
4            360.35   2882.80        Tarjeta       Enviado      Djibouti  ...
6            815.00   3260.00   Criptomoneda       Enviado     Swaziland  ...
10           218.43  99999.00        Tarjeta       Enviado        Uganda  ...
16           284.02   1988.14   Criptomoneda       Enviado       Austria  ...
23          1192.62   3577.86  Transferencia       Enviado  Saint Helena  ...

   categoria precio_base descuento stock              proveedor  fecha_alta  \
4       None      542.31       0.0  3390              Clark LLC  2024-04-10
6    Deporte      943.44       0.0  4740               Hill PLC  2024-07-24
10  Juguetes     1619.15      15.0  2130           Lopez-Bowman  2023-09-01
16   Deporte     1303.00      10.0  3970  Davenport-Blankenship  2023-09-18
23  Juguetes       13.00      15.0   210                     Wa  2023-05-13

   calle ciudad codigo_postal  pais
4    NaN    NaN           NaN   NaN
6    NaN    NaN           NaN   NaN
10   NaN    NaN           NaN   NaN
16   NaN    NaN           NaN   NaN
23   NaN    NaN           NaN   NaN

[5 rows x 28 columns]

== Mostrando los primeros 5 pedidos premium (tarjeta o PayPal con 'total' mayor a 500 euros) ==
    Id Pedido  id_cliente  id_producto fecha_pedido  cantidad  \
2      262160           0         7190   2025-08-06        40
3      293640           0         9260   2025-04-03        50
4      375960           0         6630   2024-03-26        80
10     273050           0         6980   2024-02-22        40
11     310390           0         5080   2023-12-05        10

    precio_unitario     total metodo_pago estado_pedido     País envío  ...  \
2              1.00   4871.00      PayPal      Devuelto  New Caledonia  ...
3              0.00   8600.45     Tarjeta     Cancelado    ###ERROR###  ...
4            360.35   2882.80     Tarjeta       Enviado       Djibouti  ...
10           218.43  99999.00     Tarjeta       Enviado         Uganda  ...
11           987.98    987.98      PayPal      Devuelto    Timor-Leste  ...

      categoria precio_base descuento stock                 proveedor  \
2          Ropa     1416.59       0.0  3770  Henderson, May and Olson
3   Electrónica      353.94      10.0   920  Bates, Lopez and Carlson
4          None      542.31       0.0  3390                 Clark LLC
10     Juguetes     1619.15      15.0  2130              Lopez-Bowman
11  Electrónica      622.62      10.0   420      Rodriguez-Mccullough

    fecha_alta calle ciudad codigo_postal  pais
2   2023-10-05   NaN    NaN           NaN   NaN
3   2023-10-11   NaN    NaN           NaN   NaN
4   2024-04-10   NaN    NaN           NaN   NaN
10  2023-09-01   NaN    NaN           NaN   NaN
11  2023-11-18   NaN    NaN           NaN   NaN

[5 rows x 28 columns]

## Apartado 6: Filtrado temporal

In [149]:

# 6.1 Convertir la columna fecha_pedido a tipo datetime
print(df_global['fecha_pedido'])
# Como existen fechas con un formato erróneo, uso 'errors="coerce"' para indicar que no son una fecha válida asignando un valor nulo --> 'NaT'
df_global['fecha_pedido'] = pd.to_datetime(df_global['fecha_pedido'], errors="coerce")
print(f"\n== Mostrando las fechas de los pedidos con su nuevo formato (datetime) ==\n{df_global['fecha_pedido']}") 

# 6.2 Filtrar pedidos del año 2024
pedidos_2024 = df_global[df_global['fecha_pedido'].dt.year == 2024]     # Como la columna ya está convertida a 'datetime', se puede acceder directamente al año 
print(f"\n== Mostrando los pedidos del año 2024 ==\n{pedidos_2024}") 

# 6.3 Filtrar pedidos del mes de enero de 2024
pedidos_enero_2024 = df_global[(df_global['fecha_pedido'].dt.year == 2024) & (df_global['fecha_pedido'].dt.month == 1)]     # Pasa lo mismo que en el anterior, se puede acceder directamente al mes 
print(f"\n== Mostrando los pedidos de enero del año 2024 ==\n{pedidos_enero_2024}") 

# 6.4 Filtrar pedidos del primer trimestre de 2024
pedidos_primer_trimestre_2024 = df_global[(df_global['fecha_pedido'].dt.year == 2024) & (df_global['fecha_pedido'].dt.quarter == 1)]    # Es como se expresan los trimestres con 'datetime'
print(f"\n== Mostrando los pedidos del primer trimestre del año 2024 ==\n{pedidos_primer_trimestre_2024}") 

# 6.5 Filtrar pedidos de los lunes (día de la semana = 0)
pedidos_lunes = df_global[(df_global['fecha_pedido'].dt.weekday == 0)]
print(f"\n== Mostrando los pedidos de los lunes ==\n{pedidos_lunes}") 

# 6.6 Mostrar los primeros 5 pedidos de 2024
pedidos_2024 = df_global[df_global['fecha_pedido'].dt.year == 2024].head(5)
print(f"\n== Mostrando los 5 primeros pedidos del año 2024 ==\n{pedidos_2024}")

0         2025-04-13
1         2023-11-01
2         2025-08-06
3         2025-04-03
4         2024-03-26
            ...
53649            NaN
53650     2024-11-12
53651     2024-06-03
53652     2024-07-19
53653    ###ERROR###
Name: fecha_pedido, Length: 53654, dtype: object

== Mostrando las fechas de los pedidos con su nuevo formato (datetime) ==
0       2025-04-13
1       2023-11-01
2       2025-08-06
3       2025-04-03
4       2024-03-26
           ...
53649          NaT
53650   2024-11-12
53651   2024-06-03
53652   2024-07-19
53653          NaT
Name: fecha_pedido, Length: 53654, dtype: datetime64[ns]

== Mostrando los pedidos del año 2024 ==
       Id Pedido  id_cliente  id_producto fecha_pedido  cantidad  \
4         375960           0         6630   2024-03-26        80
7          97780           0         4200   2024-04-25       100
9         271240           0         9520   2024-08-20        70
10        273050           0         6980   2024-02-22        40
16          2710       99999         7760   2024-04-01        70
...          ...         ...          ...          ...       ...
53646     398230           0         4730   2024-02-18        50
53648     398740           0         5140   2024-11-24     99999
53650     398970           0         8580   2024-11-12       100
53651     399010           0         4590   2024-06-03        20
53652     399340           0         6440   2024-07-19        90

       precio_unitario     total    metodo_pago estado_pedido  \
4               360.35   2882.80        Tarjeta       Enviado
7               805.86   8058.60   Criptomoneda      Devuelto
9               364.07   2548.49   Criptomoneda     Pendiente
10              218.43  99999.00        Tarjeta       Enviado
16              284.02   1988.14   Criptomoneda       Enviado
...                ...       ...            ...           ...
53646           342.71   1713.55  Transferencia     Pendiente
53648          1112.44   6674.64        Tarjeta       Enviado
53650           860.26   8602.60        Tarjeta       Enviado
53651           811.75   1623.50   Criptomoneda     Cancelado
53652          1211.02  10899.18   Criptomoneda       Enviado

                                 País envío  ...    categoria precio_base  \
4                                  Djibouti  ...         None      542.31
7                          Pitcairn Islands  ...      Deporte     1572.46
9                                    Belize  ...  Electrónica      387.30
10                                   Uganda  ...     Juguetes     1619.15
16                                  Austria  ...      Deporte     1303.00
...                                     ...  ...          ...         ...
53646                              Kiribati  ...        Hogar      525.97
53648  United States Minor Outlying Islands  ...          NaN        0.00
53650                                Brazil  ...  Electrónica     1530.40
53651                                 Congo  ...      Deporte      759.28
53652                                Malawi  ...      Deporte     1511.15

      descuento stock                    proveedor  fecha_alta calle ciudad  \
4           0.0  3390                    Clark LLC  2024-04-10   NaN    NaN
7          20.0   330                 Anderson Inc  2023-11-04   NaN    NaN
9          20.0  2750                      Lee PLC  2025-08-04   NaN    NaN
10         15.0  2130                 Lopez-Bowman  2023-09-01   NaN    NaN
16         10.0  3970        Davenport-Blankenship  2023-09-18   NaN    NaN
...         ...   ...                          ...         ...   ...    ...
53646      20.0   690                  Johnson Ltd  2022-12-10   NaN    NaN
53648       0.0     0                          NaN         NaN   NaN    NaN
53650       0.0  4780   Beasley, Martinez and Frye  2025-08-29   NaN    NaN
53651       5.0  1910                   Ortega Inc  2024-09-10   NaN    NaN
53652       0.0  2850  Blevins, Reed and Gallagher  2024-05-09   NaN    NaN

      codigo_postal  pais
4               NaN   NaN
7               NaN   NaN
9               NaN   NaN
10              NaN   NaN
16              NaN   NaN
...             ...   ...
53646           NaN   NaN
53648           NaN   NaN
53650           NaN   NaN
53651           NaN   NaN
53652           NaN   NaN

[23147 rows x 28 columns]

== Mostrando los pedidos de enero del año 2024 ==
       Id Pedido  id_cliente  id_producto fecha_pedido  cantidad  \
22          5150       99999           80   2024-01-23        90
39         13640       99999         8150   2024-01-30        30
71         21790       99999         6840   2024-01-28        50
87         28330       99999         1670   2024-01-04        60
93         31220       99999         4130   2024-01-13        80
...          ...         ...          ...          ...       ...
53476     320180           0         9720   2024-01-14        30
53502     334900           0         3780   2024-01-25         0
53528     341890           0         1790   2024-01-15        30
53602     371040           0         9020   2024-01-28       100
53604      99999           0          260   2024-01-20        70

       precio_unitario     total    metodo_pago estado_pedido  \
22               58.17    523.53         PayPal            En
39              234.26    702.78         PayPal     Pendiente
71              710.14   3550.70   Criptomoneda     Cancelado
87             1167.48   7004.88  Transferencia       Enviado
93             1375.64  11005.12        Tarjeta       Enviado
...                ...       ...            ...           ...
53476           327.21    981.63         PayPal      Devuelto
53502           699.50   2798.00  Transferencia     Cancelado
53528           953.54   2860.62  Transferencia     Cancelado
53602           473.83   4738.30         PayPal      Devuelto
53604           723.27   5062.89        Tarjeta     Cancelado

            País envío  ...    categoria precio_base descuento stock  \
22     Kyrgyz Republic  ...        Hogar     1513.79       5.0   830
39                Oman  ...         Ropa      701.12      20.0  3460
71               Chile  ...     Juguetes     1666.88   99999.0  2970
87                 NaN  ...  ###ERROR###      138.30       5.0  2980
93          Costa Rica  ...        Hogar      653.60      15.0  1930
...                ...  ...          ...         ...       ...   ...
53476       Azerbaijan  ...        Hogar      756.80       0.0  4140
53502              NaN  ...         None     1251.77       0.0  4020
53528   Cayman Islands  ...  Electrónica     1741.98      15.0   140
53602          Armenia  ...          NaN        0.00       0.0     0
53604            Malta  ...           Ro       48.25      15.0   810

                      proveedor  fecha_alta calle ciudad codigo_postal  pais
22               Schmidt-Foster  2022-11-26   NaN    NaN           NaN   NaN
39                  Bennett Inc  2023-02-13   NaN    NaN           NaN   NaN
71     Carter, Collins and Huff  2024-10-30   NaN    NaN           NaN   NaN
87             Caldwell-Freeman  2023-12-15   NaN    NaN           NaN   NaN
93                 Lopez-Cooper  2024-02-01   NaN    NaN           NaN   NaN
...                         ...         ...   ...    ...           ...   ...
53476   Stone, Gordon and Young  2022-11-01   NaN    NaN           NaN   NaN
53502      Olsen, Bell and Cruz        None   NaN    NaN           NaN   NaN
53528  Maxwell, Walker and Bell  2024-12-23   NaN    NaN           NaN   NaN
53602                       NaN         NaN   NaN    NaN           NaN   NaN
53604             Rodriguez Ltd  2024-01-07   NaN    NaN           NaN   NaN

[2001 rows x 28 columns]

== Mostrando los pedidos del primer trimestre del año 2024 ==
       Id Pedido  id_cliente  id_producto fecha_pedido  cantidad  \
4         375960           0         6630   2024-03-26        80
10        273050           0         6980   2024-02-22        40
22          5150       99999           80   2024-01-23        90
35         10960       99999            0   2024-03-22        40
36         11630       99999         5490   2024-02-19       100
...          ...         ...          ...          ...       ...
53568     358330           0            5   2024-02-16        90
53601     368780           0         6330   2024-02-07        80
53602     371040           0         9020   2024-01-28       100
53604      99999           0          260   2024-01-20        70
53646     398230           0         4730   2024-02-18        50

       precio_unitario     total    metodo_pago estado_pedido  \
4               360.35   2882.80        Tarjeta       Enviado
10              218.43  99999.00        Tarjeta       Enviado
22               58.17    523.53         PayPal            En
35               48.04    192.16        Tarjeta     Pendiente
36             1848.10  18481.00         PayPal       Enviado
...                ...       ...            ...           ...
53568          1312.35  11811.15         PayPal       Enviado
53601          1597.40  12779.20        Tarjeta     Pendiente
53602           473.83   4738.30         PayPal      Devuelto
53604           723.27   5062.89        Tarjeta     Cancelado
53646           342.71   1713.55  Transferencia     Pendiente

            País envío  ...    categoria precio_base descuento stock  \
4             Djibouti  ...         None      542.31       0.0  3390
10              Uganda  ...     Juguetes     1619.15      15.0  2130
22     Kyrgyz Republic  ...        Hogar     1513.79       5.0   830
35               India  ...          NaN        0.00       0.0     0
36         Puerto Rico  ...  Electrónica     1887.98       0.0  2660
...                ...  ...          ...         ...       ...   ...
53568         Guernsey  ...      Deporte      553.66      10.0  2140
53601         Thailand  ...      Deporte     1572.29      20.0  2780
53602          Armenia  ...          NaN        0.00       0.0     0
53604            Malta  ...           Ro       48.25      15.0   810
53646         Kiribati  ...        Hogar      525.97      20.0   690

                  proveedor  fecha_alta calle ciudad codigo_postal  pais
4                 Clark LLC  2024-04-10   NaN    NaN           NaN   NaN
10             Lopez-Bowman  2023-09-01   NaN    NaN           NaN   NaN
22           Schmidt-Foster  2022-11-26   NaN    NaN           NaN   NaN
35                      NaN         NaN   NaN    NaN           NaN   NaN
36             Chambers Inc  2025-01-04   NaN    NaN           NaN   NaN
...                     ...         ...   ...    ...           ...   ...
53568  Kline, Khan and Vang  2025-02-21   NaN    NaN           NaN   NaN
53601        Hunt-Hernandez  2023-12-16   NaN    NaN           NaN   NaN
53602                   NaN         NaN   NaN    NaN           NaN   NaN
53604         Rodriguez Ltd  2024-01-07   NaN    NaN           NaN   NaN
53646           Johnson Ltd  2022-12-10   NaN    NaN           NaN   NaN

[5748 rows x 28 columns]

== Mostrando los pedidos de los lunes ==
       Id Pedido  id_cliente  id_producto fecha_pedido  cantidad  \
5          41100           0         1210   2025-05-12        30
16          2710       99999         7760   2024-04-01        70
17          2800       99999         8760   2024-10-28        30
24          5450       99999         8830   2025-09-15        60
28          8670       99999         3670   2024-10-07        30
...          ...         ...          ...          ...       ...
53631     384480           0        99999   2023-11-06        70
53632     384480           0        99999   2023-11-06        70
53633     384480           0        99999   2023-11-06        70
53640     392180           0         3610   2025-08-18        50
53651     399010           0         4590   2024-06-03        20

       precio_unitario     total    metodo_pago estado_pedido  País envío  \
5              1146.86   3440.58  Transferencia      Devuelto  Seychelles
16              284.02   1988.14   Criptomoneda       Enviado     Austria
17             1091.68   3275.04   Criptomoneda      Devuelto        Guam
24             1475.54   8853.24        Tarjeta      Devuelto  Tajikistan
28             1289.20   3867.60   Criptomoneda     Pendiente          No
...                ...       ...            ...           ...         ...
53631          1908.56  13359.92        Tarjeta       Enviado       Congo
53632          1908.56  13359.92        Tarjeta       Enviado       Congo
53633          1908.56  13359.92        Tarjeta       Enviado       Congo
53640           764.67   3823.35   Criptomoneda      Devuelto      Jordan
53651           811.75   1623.50   Criptomoneda     Cancelado       Congo

       ...    categoria precio_base descuento stock  \
5      ...        Hogar     1015.17       5.0  3060
16     ...      Deporte     1303.00      10.0  3970
17     ...  Electrónica     1007.55      20.0  4910
24     ...         Ropa     1430.90   99999.0  1190
28     ...      Deporte     1982.27      10.0   150
...    ...          ...         ...       ...   ...
53631  ...     Juguetes     1988.69       5.0  1660
53632  ...       Libros      136.58      20.0  3170
53633  ...       Libros     1973.06      20.0  3820
53640  ...  Electrónica     1530.98      10.0   620
53651  ...      Deporte      759.28       5.0  1910

                        proveedor  fecha_alta calle ciudad codigo_postal  pais
5                     King-Martin  2024-06-24   NaN    NaN           NaN   NaN
16          Davenport-Blankenship  2023-09-18   NaN    NaN           NaN   NaN
17                   Jimenez-Dean  2024-05-28   NaN    NaN           NaN   NaN
24               Torres-Davenport  2025-03-22   NaN    NaN           NaN   NaN
28                     Pruitt PLC  2025-02-21   NaN    NaN           NaN   NaN
...                           ...         ...   ...    ...           ...   ...
53631  Waller, Shelton and Guerra  2023-10-31   NaN    NaN           NaN   NaN
53632                   Cox Group  2024-04-23   NaN    NaN           NaN   NaN
53633                 Wyatt-Glenn  2023-08-25   NaN    NaN           NaN   NaN
53640              Carroll-Harvey  2024-11-24   NaN    NaN           NaN   NaN
53651                  Ortega Inc  2024-09-10   NaN    NaN           NaN   NaN

[6506 rows x 28 columns]

== Mostrando los 5 primeros pedidos del año 2024 ==
    Id Pedido  id_cliente  id_producto fecha_pedido  cantidad  \
4      375960           0         6630   2024-03-26        80
7       97780           0         4200   2024-04-25       100
9      271240           0         9520   2024-08-20        70
10     273050           0         6980   2024-02-22        40
16       2710       99999         7760   2024-04-01        70

    precio_unitario     total   metodo_pago estado_pedido        País envío  \
4            360.35   2882.80       Tarjeta       Enviado          Djibouti
7            805.86   8058.60  Criptomoneda      Devuelto  Pitcairn Islands
9            364.07   2548.49  Criptomoneda     Pendiente            Belize
10           218.43  99999.00       Tarjeta       Enviado            Uganda
16           284.02   1988.14  Criptomoneda       Enviado           Austria

    ...    categoria precio_base descuento stock              proveedor  \
4   ...         None      542.31       0.0  3390              Clark LLC
7   ...      Deporte     1572.46      20.0   330           Anderson Inc
9   ...  Electrónica      387.30      20.0  2750                Lee PLC
10  ...     Juguetes     1619.15      15.0  2130           Lopez-Bowman
16  ...      Deporte     1303.00      10.0  3970  Davenport-Blankenship

    fecha_alta calle ciudad codigo_postal  pais
4   2024-04-10   NaN    NaN           NaN   NaN
7   2023-11-04   NaN    NaN           NaN   NaN
9   2025-08-04   NaN    NaN           NaN   NaN
10  2023-09-01   NaN    NaN           NaN   NaN
16  2023-09-18   NaN    NaN           NaN   NaN

[5 rows x 28 columns]

## Apartado 7: Estado del pedido

In [150]:
# 7.1 Contar el número de pedidos por cada estado
num_pedidos_estado = df_global.groupby('estado_pedido').size()
print(f"\n== Mostrando el número de pedidos por cada estado ==\n{num_pedidos_estado}") 

# 7.2 Calcular el porcentaje de pedidos por estado
# Echo mano de la variable asignada al dataframe con el número de pedidos por cada estado para llevar a cabo sus porcentajes
porcentajes_estados = ((num_pedidos_estado / num_pedidos_estado.sum()) * 100).round(2)
print(f"\n== Mostrando el porcentaje de pedidos por cada estado ==\n{porcentajes_estados}") 

# 7.3 Calcular el total de ventas por estado
total_ventas_estado = df_global.groupby('estado_pedido')['total'].sum()
print(f"\n== Mostrando el total de ventas por estado ==\n{total_ventas_estado}")    # Como se convirtió la columna 'total' a float, el resultado son datos totales numéricos

# 7.4 Calcular el valor promedio de pedidos por estado
valor_promedio_estado = (df_global.groupby('estado_pedido')['total'].mean()).round(2)
print(f"\n== Mostrando el valor promedio de pedidos por estado ==\n{valor_promedio_estado}") 

# 7.5 Calcular la cantidad total de productos vendidos por estado
cantidad_total_estado = df_global.groupby('estado_pedido')['cantidad'].sum()
print(f"\n== Mostrando la cantidad total de productos vendidos por estado ==\n{cantidad_total_estado}") 

# 7.6 Mostrar estadísticas completas por estado (numero de pedidos, total de ventas, promedio de pedidos, cantidad total, promedio de la cantidad)
estadisticas_estado = df_global.groupby("metodo_pago").agg(
    numero_pedidos = ("Id Pedido", "count"),
    total_ventas = ("total", "sum"),
    promedio_ventas = ("total", "mean"),
    cantidad_total = ("cantidad", "sum"),
    promedio_cantidad = ("cantidad", "mean")
).round(2)
print(f"\n== Mostrando las estadísticas completas por estado ==\n{estadisticas_estado}")

== Mostrando el número de pedidos por cada estado ==
estado_pedido
##                 7
###ERROR###      825
Ca               232
Cancelado      11626
De               208
Devuelto       11419
En               193
Enviado        11475
Pe               243
Pendiente      11622
dtype: int64

== Mostrando el porcentaje de pedidos por cada estado ==
estado_pedido
##              0.01
###ERROR###     1.72
Ca              0.48
Cancelado      24.30
De              0.43
Devuelto       23.86
En              0.40
Enviado        23.98
Pe              0.51
Pendiente      24.29
dtype: float64

== Mostrando el total de ventas por estado ==
estado_pedido
##                22051.05
###ERROR###     4995313.59
Ca              1701845.88
Cancelado      80947972.80
De              1274900.96
Devuelto       77001419.03
En              1157541.09
Enviado        77631408.09
Pe              1428716.12
Pendiente      83010609.32
Name: total, dtype: float64

== Mostrando el valor promedio de pedidos por estado ==
estado_pedido
##             3150.15
###ERROR###    6054.93
Ca             7335.54
Cancelado      6962.67
De             6129.33
Devuelto       6743.27
En             5997.62
Enviado        6765.26
Pe             5879.49
Pendiente      7142.54
Name: total, dtype: float64

== Mostrando la cantidad total de productos vendidos por estado ==
estado_pedido
##                  300
###ERROR###     1141999
Ca               514081
Cancelado      20301960
De               510031
Devuelto       17704620
En                10221
Enviado        21799607
Pe               412372
Pendiente      21013625
Name: cantidad, dtype: int64

== Mostrando las estadísticas completas por estado ==
               numero_pedidos  total_ventas  promedio_ventas  cantidad_total  \
metodo_pago
##                          5      27252.42          5450.48             270
###ERROR###               826    6387671.36          7733.26          845122
Cr                        188    1488842.62          7919.38           11180
Criptomoneda            11802   78626106.12          6662.10        19821048
Pa                        186    2284394.84         12281.69          309349
PayPal                  11523   78313650.21          6796.29        19802984
Ta                        175    1322464.62          7556.94          210393
Tarjeta                 11533   80097439.21          6945.07        23203000
Tr                        193    1333345.71          6908.53         1608728
Transferencia           11475   77253047.44          6732.29        18798737

               promedio_cantidad
metodo_pago
##                         54.00
###ERROR###              1023.15
Cr                         59.47
Criptomoneda             1679.47
Pa                       1663.17
PayPal                   1718.56
Ta                       1202.25
Tarjeta                  2011.88
Tr                       8335.38
Transferencia            1638.23

## Apartado 8: Método de pago

In [151]:
# 8.1 Contar el número de pedidos por método de pago
num_pedidos_pago = df_global.groupby('metodo_pago')['cantidad'].sum()
print(f"\n== Mostrando el número de pedidos por método de pago ==\n{num_pedidos_pago}") 

# 8.2 Calcular el porcentaje de uso de cada método de pago
# Echo mano de la variable asignada al dataframe con el número de pedidos por método de pago para llevar a cabo sus porcentajes
porcentajes_pagos = ((num_pedidos_pago / num_pedidos_pago.sum()) * 100).round(2)
print(f"\n== Mostrando el porcentaje de uso de cada método de pago ==\n{porcentajes_pagos}") 

# 8.3 Calcular el valor total de ventas por método de pago
total_ventas_pago = df_global.groupby('metodo_pago')['total'].sum()
print(f"\n== Mostrando el total de ventas por método de pago ==\n{total_ventas_pago}")    # Como se convirtió la columna 'total' a float, el resultado son datos totales numéricos

# 8.4 Calcular el valor promedio de pedidos por método de pago
valor_promedio_pago = (df_global.groupby('metodo_pago')['total'].mean()).round(2)
print(f"\n== Mostrando el valor promedio de pedidos por método de pago ==\n{valor_promedio_pago}") 

# 8.5 Calcular la cantidad promedio de productos por método de pago
cantidad_promedio_pago = df_global.groupby('metodo_pago')['cantidad'].mean()
print(f"\n== Mostrando la cantidad promedio de productos por método de pago ==\n{cantidad_promedio_pago}") 

# 8.6 Mostrar estadísticas completas por método de pago (numero de pedidos, total de ventas, promedio de pedidos, cantidad total, promedio de la cantidad)
estadisticas_pago = df_global.groupby("metodo_pago").agg(
    numero_pedidos = ("Id Pedido", "count"),
    total_ventas = ("total", "sum"),
    promedio_ventas = ("total", "mean"),
    cantidad_total = ("cantidad", "sum"),
    promedio_cantidad = ("cantidad", "mean")
).round(2)
print("\n== Mostrando estadísticas completas por método de pago ==")
print(estadisticas_pago)

== Mostrando el número de pedidos por método de pago ==
metodo_pago
##                    270
###ERROR###        845122
Cr                  11180
Criptomoneda     19821048
Pa                 309349
PayPal           19802984
Ta                 210393
Tarjeta          23203000
Tr                1608728
Transferencia    18798737
Name: cantidad, dtype: int64

== Mostrando el porcentaje de uso de cada método de pago ==
metodo_pago
##                0.00
###ERROR###       1.00
Cr                0.01
Criptomoneda     23.43
Pa                0.37
PayPal           23.40
Ta                0.25
Tarjeta          27.42
Tr                1.90
Transferencia    22.22
Name: cantidad, dtype: float64

== Mostrando el total de ventas por método de pago ==
metodo_pago
##                  27252.42
###ERROR###       6387671.36
Cr                1488842.62
Criptomoneda     78626106.12
Pa                2284394.84
PayPal           78313650.21
Ta                1322464.62
Tarjeta          80097439.21
Tr                1333345.71
Transferencia    77253047.44
Name: total, dtype: float64

== Mostrando el valor promedio de pedidos por método de pago ==
metodo_pago
##                5450.48
###ERROR###       7733.26
Cr                7919.38
Criptomoneda      6662.10
Pa               12281.69
PayPal            6796.29
Ta                7556.94
Tarjeta           6945.07
Tr                6908.53
Transferencia     6732.29
Name: total, dtype: float64

== Mostrando la cantidad promedio de productos por método de pago ==
metodo_pago
##                 54.000000
###ERROR###      1023.150121
Cr                 59.468085
Criptomoneda     1679.465175
Pa               1663.166667
PayPal           1718.561486
Ta               1202.245714
Tarjeta          2011.878956
Tr               8335.378238
Transferencia    1638.234161
Name: cantidad, dtype: float64

== Mostrando estadísticas completas por método de pago ==
               numero_pedidos  total_ventas  promedio_ventas  cantidad_total  \
metodo_pago
##                          5      27252.42          5450.48             270
###ERROR###               826    6387671.36          7733.26          845122
Cr                        188    1488842.62          7919.38           11180
Criptomoneda            11802   78626106.12          6662.10        19821048
Pa                        186    2284394.84         12281.69          309349
PayPal                  11523   78313650.21          6796.29        19802984
Ta                        175    1322464.62          7556.94          210393
Tarjeta                 11533   80097439.21          6945.07        23203000
Tr                        193    1333345.71          6908.53         1608728
Transferencia           11475   77253047.44          6732.29        18798737

               promedio_cantidad
metodo_pago
##                         54.00
###ERROR###              1023.15
Cr                         59.47
Criptomoneda             1679.47
Pa                       1663.17
PayPal                   1718.56
Ta                       1202.25
Tarjeta                  2011.88
Tr                       8335.38
Transferencia            1638.23

## Apartado 9: País de envío

In [152]:
# 9.1 Contar el número total de países únicos
num_paises_unicos = df_global["País envío"].nunique()
print(f"\n== Mostrando el número total de países únicos ==\n{num_paises_unicos}") 

# 9.2 Mostrar los top 10 países por número de pedidos
top_paises_pedidos = df_global.groupby("País envío")["Id Pedido"].nunique().sort_values(ascending=False).head(10)
print("\n== Mostrando los top 10 países por número de pedidos ==")
print(top_paises_pedidos)

# 9.3 Mostrar los top 10 países por valor total de ventas
top_paises_ventas = df_global.groupby("País envío")["total"].nunique().sort_values(ascending=False).head(10)
print("\n== Mostrando los top 10 países por valor total de ventas ==")
print(top_paises_ventas)

# 9.4 Calcular el valor promedio de pedidos por país (top 10)
promedio_pedidos_pais = (df_global.groupby("País envío")['total'].mean()).round(2)
print(f"\n== Mostrando el valor promedio de pedidos por país (top 10) ==\n{promedio_pedidos_pais.head(10)}")

# 9.5 Calcular la cantidad total de productos enviados por país (top 10)
productos_enviados_pais = (df_global[df_global["estado_pedido"] == "Enviado"].groupby("País envío")["cantidad"].sum().sort_values(ascending=False))
print(f"\n== Mostrando la cantidad total de productos enviados por país (top 10) ==\n{promedio_pedidos_pais.head(10)}")

# 9.6 Mostrar estadísticas del país con más pedidos (número de pedidos, total de ventas, promedio de pedido y total de cantidad)
# País con más pedidos únicos
pais_mas_pedidos = (df_global.groupby("País envío")["Id Pedido"].nunique().sort_values(ascending=False).idxmax())
# Estadísticas del país
estadisticas_pais_top = df_global[df_global["País envío"] == pais_mas_pedidos].agg(
    numero_pedidos = ("Id Pedido", "nunique"),
    total_ventas = ("total", "sum"),
    promedio_pedido = ("total", "mean"),
    cantidad_total = ("cantidad", "sum")
).round(2)
print(f"\n== Mostrando las estadísticas del país con más pedidos ({pais_mas_pedidos}) ==")
print(estadisticas_pais_top)

== Mostrando el número total de países únicos ==
354

== Mostrando los top 10 países por número de pedidos ==
País envío
###ERROR###                 608
Congo                       303
Korea                       296
Venezuela                   189
Iran                        185
Uruguay                     181
Cote d'Ivoire               179
Saint Barthelemy            179
United States of America    178
Eritrea                     178
Name: Id Pedido, dtype: int64

== Mostrando los top 10 países por valor total de ventas ==
País envío
###ERROR###         606
Congo               305
Korea               300
Iran                187
Venezuela           186
Cote d'Ivoire       180
Sierra Leone        179
Saint Barthelemy    179
Pitcairn Islands    178
Nigeria             178
Name: total, dtype: int64

== Mostrando el valor promedio de pedidos por país (top 10) ==
País envío
##                1784.14
###ERROR###       8653.31
Af                6289.30
Afghanistan       6415.70
Al                5955.59
Albania           6424.78
Algeria           7524.67
Am                 616.05
American Samoa    6096.34
An                8146.51
Name: total, dtype: float64

== Mostrando la cantidad total de productos enviados por país (top 10) ==
País envío
##                1784.14
###ERROR###       8653.31
Af                6289.30
Afghanistan       6415.70
Al                5955.59
Albania           6424.78
Algeria           7524.67
Am                 616.05
American Samoa    6096.34
An                8146.51
Name: total, dtype: float64

== Mostrando las estadísticas del país con más pedidos (###ERROR###) ==
                 Id Pedido       total   cantidad
numero_pedidos       608.0         NaN        NaN
total_ventas           NaN  7199554.58        NaN
promedio_pedido        NaN     8653.31        NaN
cantidad_total         NaN         NaN  1546026.0

## Apartado 10: Análisis demográfico

In [153]:
# 10.1 Contar el número total de clientes únicos
num_clientes_unicos = df_global['id_cliente'].nunique() # Lo que devuelve la función 'nunique()' ya es el conteo de valores únicos
print(f"\n== Mostrando el número total de clientes únicos ==\n{num_clientes_unicos}")

# 10.2 Distribución de clientes por género
clientes_por_genero = df_global['genero'].value_counts()
print("\n== Mostrando la distribución de clientes por género ==")
print(clientes_por_genero)

# 10.3 Porcentaje de distribución por género
porcentaje_genero = df_global['genero'].value_counts(normalize=True) * 100  # Si se establece 'normalize=True', devuelve las proporciones de cada valor único en lugar de los conteos absolutos.
print("\n== Mostrando el porcentaje de distribución por género ==")
print(porcentaje_genero.round(2))

# 10.4 Distribución de clientes por nivel de fidelización
clientes_por_fidelizacion = df_global['nivel_fidelizacion'].value_counts()
print("\n== Mostrando la distribución de clientes por nivel de fidelización ==")
print(clientes_por_fidelizacion)

# 10.5 Estadísticas básicas de edad
print("\n== Mostrando las estadísticas básicas de edad ==")
# Estadísticas calculadas con PANDAS
print(f"Media: {df_global['edad'].mean().round(2)}")
print(f"Mediana: {df_global['edad'].median().round(2)}")
print(f"Mínimo: {df_global['edad'].min().round(2)}")
print(f"Máximo: {df_global['edad'].max().round(2)}")
print(f"Desviación estándar: {df_global['edad'].std().round(2)}")
# Estadísticas adicionales calculadas con NUMPY
datos = df_global['edad'].dropna()  # Elimino valores nulos para evitar posibles problemas
print(f"Suma: {np.sum(datos).round(2)}")
print(f"Varianza: {np.var(datos).round(2)}")
print(f"Rango: {np.ptp(datos).round(2)}")
print(f"Percentil 25%: {np.percentile(datos, 25).round(2)}")
print(f"Percentil 75%: {np.percentile(datos, 75).round(2)}")

# 10.6 Mostrar estadísticas completas de edad por género (número de clientes, edad promedio, edad mínima, edad máxima y mediana de edad)
estadisticas_edad_genero = df_global.groupby("genero").agg(
    numero_clientes = ("id_cliente", "count"),
    edad_promedio = ("edad", "mean"),
    edad_minima = ("edad", "min"),
    edad_max = ("edad", "max"),
    mediana_edad = ("edad", "median")
).round(2)
print("\n== Mostrando estadísticas completas de edad por género ==")
print(estadisticas_edad_genero)

== Mostrando el número total de clientes únicos ==
9500

== Mostrando la distribución de clientes por género ==
genero
Otro    2208
M       1808
F       1677
Name: count, dtype: int64

== Mostrando el porcentaje de distribución por género ==
genero
Otro    38.78
M       31.76
F       29.46
Name: proportion, dtype: float64

== Mostrando la distribución de clientes por nivel de fidelización ==
nivel_fidelizacion
Bronce     1762
Plata      1410
Oro        1267
Platino    1254
Name: count, dtype: int64

== Mostrando las estadísticas básicas de edad ==
Media: 53.77
Mediana: 53.0
Mínimo: 18.0
Máximo: 90.0
Desviación estándar: 21.2
Suma: 306110.0
Varianza: 449.55
Rango: 72.0
Percentil 25%: 35.0
Percentil 75%: 73.0

== Mostrando estadísticas completas de edad por género ==
        numero_clientes  edad_promedio  edad_minima  edad_max  mediana_edad
genero
F                  1677          53.73         18.0      90.0          54.0
M                  1808          53.41         18.0      90.0          53.0
Otro               2208          54.09         18.0      90.0          53.0

## Apartado 11: Clientes por país

In [154]:
# 11.1 Contar el número total de países únicos donde viven los clientes


# 11.2 Mostrar los top 15 países con más clientes


# 11.3 Calcular el porcentaje de clientes por país (top 10)


# 11.4 Mostrar estadísticas (número de clientes, edad promedio, edad mínima, edad máxima y mediana de edad) de edad por país (top 5 países)


# 11.5 Mostrar distribución de género por país (top 3 países)


# 11.6 Mostrar distribución de nivel de fidelización por país (top 3 países)

## Apartado 12: Clientes por ciudad

In [155]:
# 12.1 Mostrar las top 20 ciudades con más clientes


# 12.2 Mostrar las ciudades con exactamente 1 cliente


# 12.3 Mostrar las ciudades con más de 10 clientes

## Apartado 13: Categoría de productos

In [156]:
# 13.1 Mostrar las categorías cuyo nombre tiene más de 6 caracteres y que tienen entre 50 y 160 productos


# 13.2 Mostrar las categorías que contienen la letra "o" (mayúscula o minúscula) y tienen menos de 120 productos

## Apartado 14: Precios

In [157]:
# 14.1 Mostrar estadísticas básicas de precios base (precio promedio, precio mínimo, precio máximo y mediana)


# 14.2 Calcular el precio promedio por categoría


# 14.3 Encontrar los productos más caros y más baratos


# 14.4 Mostrar los top 10 productos más caros

## Apartado 15: Productos más vendidos

In [158]:

# 15.1 Obtener el producto más vendido (cantidad vendida, total vendido, nombre del producto y categoría)

## Apartado 16: Análisis temporal

In [159]:
# 16.1 Obtener información sobre las ventas por mes (número total de ventas, número de pedidos y cantidad total)


# 16.2 Obten la misma información pero en lugar de por mes, por semana.

## Apartado 17: Duplicados

In [160]:
# 17.1 Contar filas duplicadas en cada uno de los datasets originales.

## Apartado 18: Valores faltantes

In [161]:
# 18.1 Obtener el porcentaje de valores faltantes en cada columna del dataset.

## Apartado 19: Valoración final

Tras completar este ejercicio, ¿qué conclusiones has obtenido acerca de los datos? ¿Consideras que sería necesario aplicar algún tipo de preprocesamiento o crees que los datos son adecuados tal como están? Apoya tu valoración con ejemplos concretos de columnas que ilustren tu análisis.

<!-- Responde aquí al apartado 19 -->
**Responder**