In [124]:
# Importación de los datos
import sqlite3
# Para importar las librerías de 'pandas' y 'numpy' es necesario ejecutar: "pip install pandas numpy matplotlib seaborn scikit-learn jupyter"
import pandas as pd
import numpy as np
import os
os.chdir("C:/Users/a21gebremedingl/Desktop/AD/Proyecto1_AD_Python")

## 1. CARGAR PEDIDOS (CSV)

In [125]:
# Cargar el fichero pedidos.csv
df_pedidos = pd.read_csv("sources/pedidos.csv", encoding="utf-16", sep="|") # Usando la codificación correcta: "utf-16"
print(df_pedidos)

      Id Pedido  id_cliente  id_producto  fecha_pedido  cantidad   \
0            1.0      1263.0        531.0    2025-02-28       7.0
1            NaN         NaN        744.0    2023-11-18       8.0
2            3.0      3060.0        990.0    2023-10-18      10.0
3            4.0      1216.0        174.0    2024-05-31       3.0
4            5.0      1558.0        916.0    2024-06-30       9.0
...          ...         ...          ...           ...       ...
39995    39996.0      4739.0        503.0    2025-07-15       3.0
39996    39997.0      1020.0        351.0    2025-03-07       4.0
39997    39998.0      4163.0        196.0    2025-01-26       6.0
39998    39999.0      2882.0        521.0    2023-11-04       2.0
39999    40000.0      2417.0        284.0            20       6.0

      precio_unitario     total    metodo_pago  estado_pedido   \
0               356.14   2492.98        Tarjeta      Pendiente
1              1569.27  12554.16  Transferencia      Pendiente
2               707.74    7077.4         PayPal      Pendiente
3              1281.67   3845.01   Criptomoneda      Pendiente
4              1208.76  10878.84         PayPal        Enviado
...                ...       ...            ...            ...
39995           543.26   1629.78         PayPal       Devuelto
39996           134.56    538.24        Tarjeta        Enviado
39997          1855.47  11132.82   Criptomoneda      Cancelado
39998           939.56   1879.12        Tarjeta       Devuelto
39999            594.5    3567.0         PayPal      Pendiente

            País envío
0               Namibia
1      Christmas Island
2              Tanzania
3              Bulgaria
4               Romania
...                 ...
39995             Samoa
39996       ###ERROR###
39997        Martinique
39998           Ukraine
39999      Saint Martin

[40000 rows x 10 columns]

## 2. CARGAR CLIENTES (JSON)

In [126]:
# Cargar el fichero clientes.json
df_clientes = pd.read_json("sources/clientes.json")
print(df_clientes)

      id_cliente                nombre                        email  \
0              1           Leah Oliver       morrisgary@example.org
1              2             Gary Yang       patrickorr@example.org
2              3           Diane Black  shannonwilliams@example.org
3              4       Stephanie Ochoa     thorntonmary@example.net
4              5       Manuel Petersen           judy84@example.org
...          ...                   ...                          ...
4995        4996          Nathan Smith     petersonpaul@example.com
4996        4997            Wendy Owen       susanrusso@example.net
4997        4998  Christopher Thompson       nicholas14@example.com
4998        4999          Cindy Rogers      whitejoshua@example.com
4999        5000          Selena Mills       wolfsteven@example.org

                    telefono  \
0      001-330-515-0970x7851
1               971.920.5709
2        (431)706-3322x22301
3     001-651-540-3975x13295
4       001-709-629-4484x227
...                      ...
4995       406-718-2793x5294
4996   001-333-911-5349x3506
4997              3265633454
4998       791.904.4900x6790
4999      369.293.3518x66762

                                              direccion fecha_registro genero  \
0     {'calle': '94553 Garner Underpass', 'ciudad': ...     2023-12-12   Otro
1     {'calle': '82710 Turner Camp', 'ciudad': 'Ange...     2022-03-11   Otro
2     {'calle': '6251 Knox Tunnel', 'ciudad': 'Goodw...     2024-06-01      M
3     {'calle': '07844 Brock Passage Suite 778', 'ci...     2021-05-19   Otro
4     {'calle': '975 Janice Gateway Suite 360', 'ciu...     2023-04-22   Otro
...                                                 ...            ...    ...
4995  {'calle': '453 Butler Islands', 'ciudad': 'Sou...     2024-09-25      M
4996  {'calle': '042 Thompson Plains Apt. 745', 'ciu...     2022-10-19   Otro
4997  {'calle': '6018 Danielle Estate', 'ciudad': 'B...     2021-12-04      M
4998  {'calle': '17048 Daniel Trafficway', 'ciudad':...     2021-06-28   Otro
4999  {'calle': '038 Ralph Rest', 'ciudad': 'West Jo...     2021-09-20      M

      edad nivel_fidelizacion
0       32             Bronce
1       53              Plata
2       35             Bronce
3       87             Bronce
4       72             Bronce
...    ...                ...
4995    76                Oro
4996    31             Bronce
4997    35              Plata
4998    28              Plata
4999    29             Bronce

[5000 rows x 9 columns]

## 3. CARGAR PRODUCTOS (SQLite)

In [127]:
# Cargar el fichero productos.db
conexion = sqlite3.connect("sources/productos.db")
with conexion:
    df_productos = pd.read_sql_query("SELECT * FROM productos", conexion)   #  Acceso desde pandas: Convierte la tabla SQL en DataFrame directamente
print(df_productos)

#conexion.close() -->  Cerrar la conexión a la base de datos. // En este caso como se usa 'with', se cierra automáticamente al salir del bloque

    id_producto nombre_producto    categoria precio_base descuento   stock  \
0           1.0          Home X       Libros      469.99       0.0   367.0
1          None      Threat Pro      Deporte      644.21      20.0    98.0
2             3        Reduce X         Ropa     1417.93      15.0   309.0
3           4.0        Half Max      Deporte      579.69      20.0   442.0
4           5.0     Control Pro      Deporte      373.93       0.0  -99999
..          ...             ...          ...         ...       ...     ...
995       996.0          Lose X       Libros      782.92      10.0    47.0
996       997.0      Degree Pro  Electrónica     1810.45      15.0   469.0
997       998.0   Describe Lite           Ho     1735.67       0.0   360.0
998       999.0        Hope Max        Hogar        8.16      15.0   277.0
999      1000.0   Standard Lite  Electrónica      800.65      20.0   137.0

                           proveedor  fecha_alta
0                        Allison PLC  2024-03-26
1                       Powers-Brown  2024-04-28
2    Patterson, Murray and Hernandez  2025-02-26
3           Neal, Lopez and Mitchell  2024-04-10
4         Lopez, Trujillo and Horton  2024-11-30
..                               ...         ...
995                         Le-Parks  2025-09-23
996                  Wilson and Sons        None
997                  Obrien and Sons  2023-01-25
998                  Elliott-Johnson  2022-10-30
999                     Clark-Obrien  2024-03-26

[1000 rows x 8 columns]

## 4. NORMALIZAR TIPOS DE CLAVE

In [128]:
# Convertimos los valores de las columnas que actuarán de clave a str para evitar conflictos
df_clientes['id_cliente'] = df_clientes['id_cliente'].astype(str)
df_productos['id_producto'] = df_productos['id_producto'].astype(str)

# Como la intencion es hacer un merge en 'df_pedidos' utilizando 'id_cliente' e 'id_producto', es importante asegurarse de que los nombres de las columnas coincidan exactamente
df_pedidos.columns = df_pedidos.columns.str.strip() # Eliminar espacios antes y después de cada nombre de columna de df_pedidos
df_pedidos['id_producto'] = df_pedidos['id_producto'].astype(str)
df_pedidos['id_cliente'] = df_pedidos['id_cliente'].astype(str)

## 5. UNIÓN DE DATASETS

In [129]:
# Unir los tres datasets en uno solo
df_global = df_pedidos.merge(df_clientes, on='id_cliente', how='left')
df_global = df_pedidos.merge(df_productos, on='id_producto', how='left')
print(df_global)

      Id Pedido id_cliente id_producto fecha_pedido cantidad precio_unitario  \
0           1.0     1263.0       531.0   2025-02-28      7.0          356.14
1           NaN        nan       744.0   2023-11-18      8.0         1569.27
2           3.0     3060.0       990.0   2023-10-18     10.0          707.74
3           4.0     1216.0       174.0   2024-05-31      3.0         1281.67
4           5.0     1558.0       916.0   2024-06-30      9.0         1208.76
...         ...        ...         ...          ...      ...             ...
48658   39996.0     4739.0       503.0   2025-07-15      3.0          543.26
48659   39997.0     1020.0       351.0   2025-03-07      4.0          134.56
48660   39998.0     4163.0       196.0   2025-01-26      6.0         1855.47
48661   39999.0     2882.0       521.0   2023-11-04      2.0          939.56
48662   40000.0     2417.0       284.0           20      6.0           594.5

          total    metodo_pago estado_pedido        País envío  \
0       2492.98        Tarjeta     Pendiente           Namibia
1      12554.16  Transferencia     Pendiente  Christmas Island
2        7077.4         PayPal     Pendiente          Tanzania
3       3845.01   Criptomoneda     Pendiente          Bulgaria
4      10878.84         PayPal       Enviado           Romania
...         ...            ...           ...               ...
48658   1629.78         PayPal      Devuelto             Samoa
48659    538.24        Tarjeta       Enviado       ###ERROR###
48660  11132.82   Criptomoneda     Cancelado        Martinique
48661   1879.12        Tarjeta      Devuelto           Ukraine
48662    3567.0         PayPal     Pendiente      Saint Martin

      nombre_producto    categoria precio_base descuento  stock  \
0        Business Pro  Electrónica     1174.25      10.0  398.0
1           Serve Max  Electrónica     1144.23      10.0  443.0
2         Economy Max         Ropa      633.15         1  443.0
3            Only Max  Electrónica      348.97      20.0  324.0
4               Own X      Deporte      823.87      10.0  404.0
...               ...          ...         ...       ...    ...
48658      Beyond Pro      Deporte      539.26       5.0  344.0
48659  Generation Pro      Deporte     1977.79       5.0  273.0
48660       Control X           Li     1319.93      20.0  455.0
48661     Indeed Lite       Libros      248.75       5.0  413.0
48662       Agree Max         None     1096.38      10.0  469.0

                         proveedor  fecha_alta
0                        Brown PLC  2024-04-02
1                  Curry-Daugherty  2025-04-08
2          Rocha, Nixon and Hinton  2023-10-28
3      Ramsey, Anderson and Rivera  2025-03-29
4       Alvarado, Rodriguez and Wu  2023-04-05
...                            ...         ...
48658                  Diaz-Hinton          20
48659              Hawkins-Salazar  2024-05-24
48660  Mitchell, Johnson and Hines  2024-02-12
48661               Andrews-Harris  2023-08-26
48662   Goodwin, Smith and Hawkins  2023-05-26

[48663 rows x 17 columns]

## Apartado 1: Información básica del dataset

In [130]:
# 1.1 Mostrar las primeras 5 filas del dataset global
print(f"\n== Mostrando las 5 primeras filas del dataset global ==\n{df_global.head(5)}")

# 1.2 Mostrar las dimensiones del dataset (filas y columnas)
print(f"\n== Mostrando las dimensiones del dataset (filas y columnas) ==\n{df_global.shape}")

# 1.3 Mostrar los nombres de todas las columnas
print(f"\n== Mostrando los nombres de todas las columnas ==\n{df_global.columns.tolist()}")

# 1.4 Mostrar información sobre los tipos de datos de las columnas
# Proceso de optimización y verificación de los tipos de datos para mejorar el rendimiento

# Columnas que deben ser enteros
cols_enteros = ["Id Pedido", "id_cliente", "id_producto","cantidad", "stock"]
for col in cols_enteros:
    # Reemplazar valores inválidos por 0
    df_global[col] = df_global[col].replace(["###ERROR###", "-", None], "0")
    # Convertir a float primero (asegura que todos los valores sean numéricos)
    df_global[col] = df_global[col].astype(float)
    # Reemplazar valores NaN por 0
    df_global[col] = df_global[col].fillna(0)
    # Convertir a entero
    df_global[col] = df_global[col].astype(int)

# Columnas que deben ser float
cols_float = ["precio_unitario", "precio_base", "total", "descuento"]
for col in cols_float:
    df_global[col] = df_global[col].replace(["###ERROR###", "-", None], "0")
    df_global[col] = df_global[col].astype(float)
    df_global[col] = df_global[col].fillna(0)

# Salida de tipos de datos
print(f"\n== Mostrando información sobre los tipos de datos de las columnas ==\n{df_global.dtypes}")


# 1.5 Mostrar las últimas 3 filas del dataset
print(f"\n== Mostrando las 3 últimas filas del dataset global ==\n{df_global.tail(3)}")

== Mostrando las 5 primeras filas del dataset global ==
  Id Pedido id_cliente id_producto fecha_pedido cantidad precio_unitario  \
0       1.0     1263.0       531.0   2025-02-28      7.0          356.14
1       NaN        nan       744.0   2023-11-18      8.0         1569.27
2       3.0     3060.0       990.0   2023-10-18     10.0          707.74
3       4.0     1216.0       174.0   2024-05-31      3.0         1281.67
4       5.0     1558.0       916.0   2024-06-30      9.0         1208.76

      total    metodo_pago estado_pedido        País envío nombre_producto  \
0   2492.98        Tarjeta     Pendiente           Namibia    Business Pro
1  12554.16  Transferencia     Pendiente  Christmas Island       Serve Max
2    7077.4         PayPal     Pendiente          Tanzania     Economy Max
3   3845.01   Criptomoneda     Pendiente          Bulgaria        Only Max
4  10878.84         PayPal       Enviado           Romania           Own X

     categoria precio_base descuento  stock                    proveedor  \
0  Electrónica     1174.25      10.0  398.0                    Brown PLC
1  Electrónica     1144.23      10.0  443.0              Curry-Daugherty
2         Ropa      633.15         1  443.0      Rocha, Nixon and Hinton
3  Electrónica      348.97      20.0  324.0  Ramsey, Anderson and Rivera
4      Deporte      823.87      10.0  404.0   Alvarado, Rodriguez and Wu

   fecha_alta
0  2024-04-02
1  2025-04-08
2  2023-10-28
3  2025-03-29
4  2023-04-05

== Mostrando las dimensiones del dataset (filas y columnas) ==
(48663, 17)

== Mostrando los nombres de todas las columnas ==
['Id Pedido', 'id_cliente', 'id_producto', 'fecha_pedido', 'cantidad', 'precio_unitario', 'total', 'metodo_pago', 'estado_pedido', 'País envío', 'nombre_producto', 'categoria', 'precio_base', 'descuento', 'stock', 'proveedor', 'fecha_alta']

== Mostrando información sobre los tipos de datos de las columnas ==
Id Pedido            int64
id_cliente           int64
id_producto          int64
fecha_pedido        object
cantidad             int64
precio_unitario    float64
total              float64
metodo_pago         object
estado_pedido       object
País envío          object
nombre_producto     object
categoria           object
precio_base        float64
descuento          float64
stock                int64
proveedor           object
fecha_alta          object
dtype: object

== Mostrando las 3 últimas filas del dataset global ==
       Id Pedido  id_cliente  id_producto fecha_pedido  cantidad  \
48660      39998        4163          196   2025-01-26         6
48661      39999        2882          521   2023-11-04         2
48662      40000        2417          284           20         6

       precio_unitario     total   metodo_pago estado_pedido    País envío  \
48660          1855.47  11132.82  Criptomoneda     Cancelado    Martinique
48661           939.56   1879.12       Tarjeta      Devuelto       Ukraine
48662           594.50   3567.00        PayPal     Pendiente  Saint Martin

      nombre_producto categoria  precio_base  descuento  stock  \
48660       Control X        Li      1319.93       20.0    455
48661     Indeed Lite    Libros       248.75        5.0    413
48662       Agree Max      None      1096.38       10.0    469

                         proveedor  fecha_alta
48660  Mitchell, Johnson and Hines  2024-02-12
48661               Andrews-Harris  2023-08-26
48662   Goodwin, Smith and Hawkins  2023-05-26

## Apartado 2: Tipos de datos y valores nulos

In [131]:
# 2.1 Mostrar información detallada del DataFrame (tipos, memoria, nulos)
print(f"\n== Mostrando información detallada del DataFrame (tipos, memoria, nulos) == \n{df_global.info}")

# 2.2 Contar valores nulos por columna
print(f"\n== Mostrando cantidad de valores nulos por columna:\n{df_global.isnull().sum()}")

# 2.3 Mostrar solo las columnas que tienen valores nulos
print(f"\n== Mostrando solo las columnas que tienen valores nulos ==\n{df_global.columns[df_global.isnull().any()]}")

# 2.4 Calcular el porcentaje de valores nulos por columna
porcentaje_nulos = df_global.isnull().mean() * 100
print(f"\n== Mostrando el porcentaje de valores nulos por columna ==\n{porcentaje_nulos.round(2)}")

# 2.5 Verificar si hay filas completamente vacías
filas_vacias = df_global.isin([None, 0, 'NaN', 'nan', '###ERROR###']).all(axis=1)   # Según cómo se planteó más arriba, el 0 se considera vacío
if filas_vacias.any():
    print(f"\n== Mostrando filas completamente vacías ==\n{filas_vacias}")
else:
    print('\n== No se pueden mostrar las filas compltamente vacías porque no existe ninguna ==')

== Mostrando información detallada del DataFrame (tipos, memoria, nulos) ==
<bound method DataFrame.info of        Id Pedido  id_cliente  id_producto fecha_pedido  cantidad  \
0              1        1263          531   2025-02-28         7
1              0           0          744   2023-11-18         8
2              3        3060          990   2023-10-18        10
3              4        1216          174   2024-05-31         3
4              5        1558          916   2024-06-30         9
...          ...         ...          ...          ...       ...
48658      39996        4739          503   2025-07-15         3
48659      39997        1020          351   2025-03-07         4
48660      39998        4163          196   2025-01-26         6
48661      39999        2882          521   2023-11-04         2
48662      40000        2417          284           20         6

       precio_unitario     total    metodo_pago estado_pedido  \
0               356.14   2492.98        Tarjeta     Pendiente
1              1569.27  12554.16  Transferencia     Pendiente
2               707.74   7077.40         PayPal     Pendiente
3              1281.67   3845.01   Criptomoneda     Pendiente
4              1208.76  10878.84         PayPal       Enviado
...                ...       ...            ...           ...
48658           543.26   1629.78         PayPal      Devuelto
48659           134.56    538.24        Tarjeta       Enviado
48660          1855.47  11132.82   Criptomoneda     Cancelado
48661           939.56   1879.12        Tarjeta      Devuelto
48662           594.50   3567.00         PayPal     Pendiente

             País envío nombre_producto    categoria  precio_base  descuento  \
0               Namibia    Business Pro  Electrónica      1174.25       10.0
1      Christmas Island       Serve Max  Electrónica      1144.23       10.0
2              Tanzania     Economy Max         Ropa       633.15        1.0
3              Bulgaria        Only Max  Electrónica       348.97       20.0
4               Romania           Own X      Deporte       823.87       10.0
...                 ...             ...          ...          ...        ...
48658             Samoa      Beyond Pro      Deporte       539.26        5.0
48659       ###ERROR###  Generation Pro      Deporte      1977.79        5.0
48660        Martinique       Control X           Li      1319.93       20.0
48661           Ukraine     Indeed Lite       Libros       248.75        5.0
48662      Saint Martin       Agree Max         None      1096.38       10.0

       stock                    proveedor  fecha_alta
0        398                    Brown PLC  2024-04-02
1        443              Curry-Daugherty  2025-04-08
2        443      Rocha, Nixon and Hinton  2023-10-28
3        324  Ramsey, Anderson and Rivera  2025-03-29
4        404   Alvarado, Rodriguez and Wu  2023-04-05
...      ...                          ...         ...
48658    344                  Diaz-Hinton          20
48659    273              Hawkins-Salazar  2024-05-24
48660    455  Mitchell, Johnson and Hines  2024-02-12
48661    413               Andrews-Harris  2023-08-26
48662    469   Goodwin, Smith and Hawkins  2023-05-26

[48663 rows x 17 columns]>

== Mostrando cantidad de valores nulos por columna:
Id Pedido             0
id_cliente            0
id_producto           0
fecha_pedido        841
cantidad              0
precio_unitario       0
total                 0
metodo_pago         757
estado_pedido       813
País envío          891
nombre_producto    3959
categoria          4085
precio_base           0
descuento             0
stock                 0
proveedor          3362
fecha_alta         3382
dtype: int64

== Mostrando solo las columnas que tienen valores nulos ==
Index(['fecha_pedido', 'metodo_pago', 'estado_pedido', 'País envío',
       'nombre_producto', 'categoria', 'proveedor', 'fecha_alta'],
      dtype='object')

== Mostrando el porcentaje de valores nulos por columna ==
Id Pedido          0.00
id_cliente         0.00
id_producto        0.00
fecha_pedido       1.73
cantidad           0.00
precio_unitario    0.00
total              0.00
metodo_pago        1.56
estado_pedido      1.67
País envío         1.83
nombre_producto    8.14
categoria          8.39
precio_base        0.00
descuento          0.00
stock              0.00
proveedor          6.91
fecha_alta         6.95
dtype: float64

== No se pueden mostrar las filas compltamente vacías porque no existe ninguna ==

## Apartado 3: Estadísticas descriptivas

In [159]:
# 3.1 Estadísticas descriptivas de todas las columnas numéricas
# Como se modificó el tipo de datos de las columnas numéricas, ahora se pueden calcular las estadísticas descriptivas
print(f"\n== Estadísticas descriptivas de todas las columnas numéricas ==\n{df_global.describe()}")

# 3.2 Estadísticas descriptivas de todas las columnas (numéricas y categóricas)
print(f"\n== Estadísticas descriptivas de todas las columnas (numéricas y categóricas) ==\n{df_global.describe(include='all')}")

# 3.3 Calcular la media, mediana y moda de la columna 'total'
media = np.mean(df_global['total'])
mediana = np.median(df_global['total'])
# Con pandas sería --> media = df_global['total'].mean(); mediana = df_global['total'].median()
moda = df_global['total'].mode()[0]
print(f"\n== Mostrando operaciones con la columna 'total' ==\n·Media: {media}\n·Mediana: {mediana}\n·Moda: {moda}")

# 3.4 Calcular el rango (máximo - mínimo) de la columna 'cantidad'
rango = np.ptp(df_global['cantidad'])
print(f"\n== Mostrando rango de la columna 'cantidad' ==\n{rango}")
# Con pandas sería --> rango = df_global['cantidad'].max() - df_global['cantidad'].min()

# 3.5 Calcular la desviación estándar y la varianza de la columna 'total'
desv_estandar = np.std(df_global['total'])
varianza = np.var(df_global['total'])
print(f"\n== Desviación estándar y varianza de la columna 'total' ==\n·Desviación estándar: {desv_estandar.round(3)}\n·Varianza: {varianza.round(3)}")

# 3.6 Contar valores únicos en columnas categóricas
print("\n", df_global.select_dtypes(include="object").nunique())

== Estadísticas descriptivas de todas las columnas numéricas ==
          Id Pedido    id_cliente   id_producto     cantidad  precio_unitario  \
count  48663.000000  48663.000000  48663.000000  48663.00000     48663.000000
mean   17310.359760    763.965703 -17268.009371  -1692.06358      -724.094883
std    19472.257146  12886.260882  38313.037292  12918.04197     12978.256737
min   -99999.000000 -99999.000000 -99999.000000 -99999.00000    -99999.000000
25%     8470.500000   1045.000000     41.000000      3.00000       412.830000
50%    18801.000000   2320.000000    357.000000      5.00000       947.450000
75%    29472.500000   3668.000000    681.000000      8.00000      1485.985000
max    40000.000000   5000.000000   1000.000000     10.00000      2000.000000

              total   precio_base     descuento         stock
count  48663.000000  48663.000000  48663.000000  48663.000000
mean    3633.652808   -356.266627  -1514.796704  -1158.405914
std    14066.588991  11428.370779  12254.910316  11697.157240
min   -99999.000000 -99999.000000 -99999.000000 -99999.000000
25%     1441.655000    388.610000      5.000000     89.000000
50%     3861.460000    929.690000     10.000000    230.000000
75%     8066.310000   1477.030000     20.000000    345.000000
max    19994.400000   1995.780000     20.000000    500.000000

== Estadísticas descriptivas de todas las columnas (numéricas y categóricas) ==
           Id Pedido    id_cliente   id_producto fecha_pedido     cantidad  \
count   48663.000000  48663.000000  48663.000000        47822  48663.00000
unique           NaN           NaN           NaN          734          NaN
top              NaN           NaN           NaN           20          NaN
freq             NaN           NaN           NaN          806          NaN
mean    17310.359760    763.965703 -17268.009371          NaN  -1692.06358
std     19472.257146  12886.260882  38313.037292          NaN  12918.04197
min    -99999.000000 -99999.000000 -99999.000000          NaN -99999.00000
25%      8470.500000   1045.000000     41.000000          NaN      3.00000
50%     18801.000000   2320.000000    357.000000          NaN      5.00000
75%     29472.500000   3668.000000    681.000000          NaN      8.00000
max     40000.000000   5000.000000   1000.000000          NaN     10.00000

        precio_unitario         total   metodo_pago estado_pedido  \
count      48663.000000  48663.000000         47906         47850
unique              NaN           NaN            10            10
top                 NaN           NaN  Criptomoneda     Cancelado
freq                NaN           NaN         11802         11626
mean        -724.094883   3633.652808           NaN           NaN
std        12978.256737  14066.588991           NaN           NaN
min       -99999.000000 -99999.000000           NaN           NaN
25%          412.830000   1441.655000           NaN           NaN
50%          947.450000   3861.460000           NaN           NaN
75%         1485.985000   8066.310000           NaN           NaN
max         2000.000000  19994.400000           NaN           NaN

         País envío nombre_producto categoria   precio_base     descuento  \
count         47772           44704     44578  48663.000000  48663.000000
unique          354             843        13           NaN           NaN
top     ###ERROR###     ###ERROR###    Libros           NaN           NaN
freq            832            1212      8102           NaN           NaN
mean            NaN             NaN       NaN   -356.266627  -1514.796704
std             NaN             NaN       NaN  11428.370779  12254.910316
min             NaN             NaN       NaN -99999.000000 -99999.000000
25%             NaN             NaN       NaN    388.610000      5.000000
50%             NaN             NaN       NaN    929.690000     10.000000
75%             NaN             NaN       NaN   1477.030000     20.000000
max             NaN             NaN       NaN   1995.780000     20.000000

               stock      proveedor  fecha_alta
count   48663.000000          45301       45281
unique           NaN            927         626
top              NaN  Reed and Sons  2025-09-08
freq             NaN            700         741
mean    -1158.405914            NaN         NaN
std     11697.157240            NaN         NaN
min    -99999.000000            NaN         NaN
25%        89.000000            NaN         NaN
50%       230.000000            NaN         NaN
75%       345.000000            NaN         NaN
max       500.000000            NaN         NaN

== Mostrando operaciones con la columna 'total' ==
·Media: 3633.6528080882804
·Mediana: 3861.46
·Moda: -99999.0

== Mostrando rango de la columna 'cantidad' ==
100009

== Desviación estándar y varianza de la columna 'total' ==
·Desviación estándar: 14066.444
·Varianza: 197864859.729

 fecha_pedido       734
metodo_pago         10
estado_pedido       10
País envío         354
nombre_producto    843
categoria           13
proveedor          927
fecha_alta         626
dtype: int64

## Apartado 4: Filtrado simple

In [133]:
# 4.1 Filtrar pedidos con cantidad mayor a 5 unidades


# 4.2 Filtrar pedidos con total mayor a 1000 euros


# 4.3 Filtrar pedidos con precio unitario menor a 50 euros


# 4.4 Filtrar pedidos con cantidad igual a 1


# 4.5 Mostrar los primeros 5 pedidos grandes (cantidad > 5)


# 4.6 Mostrar los primeros 5 pedidos caros (total > 1000€)

## Apartado 5: Filtrado con múltiples condiciones

In [134]:
# 5.1 Filtrar pedidos enviados con cantidad mayor a 3


# 5.2 Filtrar pedidos de tarjeta o PayPal con total mayor a 500 euros


# 5.3 Filtrar pedidos pendientes o cancelados con cantidad menor a 2


# 5.4 Filtrar pedidos enviados o devueltos con precio unitario mayor a 100


# 5.5 Mostrar los primeros 5 pedidos enviados grandes


# 5.6 Mostrar los primeros 5 pedidos premium

## Apartado 6: Filtrado temporal

In [135]:

# 6.1 Convertir la columna fecha_pedido a tipo datetime


# 6.2 Filtrar pedidos del año 2024


# 6.3 Filtrar pedidos del mes de enero de 2024


# 6.4 Filtrar pedidos del primer trimestre de 2024


# 6.5 Filtrar pedidos de los lunes (día de la semana = 0)


# 6.6 Mostrar los primeros 5 pedidos de 2024

## Apartado 7: Estado del pedido

In [136]:
# 7.1 Contar el número de pedidos por cada estado


# 7.2 Calcular el porcentaje de pedidos por estado


# 7.3 Calcular el total de ventas por estado


# 7.4 Calcular el valor promedio de pedidos por estado


# 7.5 Calcular la cantidad total de productos vendidos por estado


# 7.6 Mostrar estadísticas completas por estado

## Apartado 8: Método de pago

In [137]:
# 8.1 Contar el número de pedidos por método de pago


# 8.2 Calcular el porcentaje de uso de cada método de pago


# 8.3 Calcular el valor total de ventas por método de pago


# 8.4 Calcular el valor promedio de pedidos por método de pago


# 8.5 Calcular la cantidad promedio de productos por método de pago


# 8.6 Mostrar estadísticas completas por método de pago (numero de pedidos, total de ventas, promedio de pedidos, cantidad total, promedio de la cantidad)

## Apartado 9: País de envío

In [138]:
# 9.1 Contar el número total de países únicos


# 9.2 Mostrar los top 10 países por número de pedidos


# 9.3 Mostrar los top 10 países por valor total de ventas


# 9.4 Calcular el valor promedio de pedidos por país (top 10)


# 9.5 Calcular la cantidad total de productos enviados por país (top 10)


# 9.6 Mostrar estadísticas del país con más pedidos (número de pedidos, total de ventas, promedio de pedido y total de cantidad)

## Apartado 10: Análisis demográfico

In [139]:
# 10.1 Contar el número total de clientes únicos


# 10.2 Distribución de clientes por género


# 10.3 Porcentaje de distribución por género


# 10.4 Distribución de clientes por nivel de fidelización


# 10.5 Estadísticas básicas de edad


# 10.6 Mostrar estadísticas completas de edad por género (número de clientes, edad promedio, edad mínima, edad máxima y mediana de edad)

## Apartado 11: Clientes por país

In [140]:
# 11.1 Contar el número total de países únicos donde viven los clientes


# 11.2 Mostrar los top 15 países con más clientes


# 11.3 Calcular el porcentaje de clientes por país (top 10)


# 11.4 Mostrar estadísticas (número de clientes, edad promedio, edad mínima, edad máxima y mediana de edad) de edad por país (top 5 países)


# 11.5 Mostrar distribución de género por país (top 3 países)


# 11.6 Mostrar distribución de nivel de fidelización por país (top 3 países)

## Apartado 12: Clientes por ciudad

In [141]:
# 12.1 Mostrar las top 20 ciudades con más clientes


# 12.2 Mostrar las ciudades con exactamente 1 cliente


# 12.3 Mostrar las ciudades con más de 10 clientes

## Apartado 13: Categoría de productos

In [142]:
# 13.1 Mostrar las categorías cuyo nombre tiene más de 6 caracteres y que tienen entre 50 y 160 productos


# 13.2 Mostrar las categorías que contienen la letra "o" (mayúscula o minúscula) y tienen menos de 120 productos

## Apartado 14: Precios

In [143]:
# 14.1 Mostrar estadísticas básicas de precios base (precio promedio, precio mínimo, precio máximo y mediana)


# 14.2 Calcular el precio promedio por categoría


# 14.3 Encontrar los productos más caros y más baratos


# 14.4 Mostrar los top 10 productos más caros

## Apartado 15: Productos más vendidos

In [144]:

# 15.1 Obtener el producto más vendido (cantidad vendida, total vendido, nombre del producto y categoría)

## Apartado 16: Análisis temporal

In [145]:
# 16.1 Obtener información sobre las ventas por mes (número total de ventas, número de pedidos y cantidad total)


# 16.2 Obten la misma información pero en lugar de por mes, por semana.

## Apartado 17: Duplicados

In [146]:
## 17.1 Contar filas duplicadas en cada uno de los datasets originales.

## Apartado 18: Valores faltantes

In [147]:
# 18.1 Obtener el porcentaje de valores faltantes en cada columna del dataset.

## Apartado 19: Valoración final

Tras completar este ejercicio, ¿qué conclusiones has obtenido acerca de los datos? ¿Consideras que sería necesario aplicar algún tipo de preprocesamiento o crees que los datos son adecuados tal como están? Apoya tu valoración con ejemplos concretos de columnas que ilustren tu análisis.

<!-- Responde aquí al apartado 19 -->
**Responder**